{% extends '_base.html' %}

{% block title %}10 January 2022{% endblock title %}


{% block content %}
    <section class="col-md-8 my-5" id="truenorth">
      <h3 class='my-3'>
        New Leadership
      </h3>
      <p>
        This was the initial meeting of the Board following Lori Frasure's and Angie Redford's combined 20-point victory in the November Election, and the first item of business was swearing in our newest Trustees from Zone 1 and 3.  After selecting a new permanent Clerk of the Board (congratulations to Nicole Scheppers!) they went about electing the Board Officers for the Year.
      </p>
      <p>
        It's no secret that we've been arguing for new leadership on the Board of Trustees for the better part of a year, and while the prior Board was unwilling to take that step this Board wasted no time in getting to work.  Amy Johnson started things off by nominating Rene Ozuna as Board Chair.
      </p>
      <p>
        Now Rene's dedication and integrity are unquestioned, and my interactions with her have always been genuine and free from political gamesmanship.  I'm fond of saying "good people can disagree on important issues", and there is no greater example of that than Rene.  Still, Rene and Amy have voted in lockstep for the past two years, and the voters spoke with a clear, unmistakable voice in November: we want a new direction.  In considering Rene's candidacy Rusty Coffelt, Lori and Angie all pointed this out during discussion, and voted no accordingly.
      </p>
      <p>
        With the floor reopened, Lori nominated Rusty for the Chair.  Rusty is the obvious choice given that he has been on the Board for a year and yet still represents the new direction the electorate is seeking.  However, there was a bit of drama in that while no one spoke against Rusty's credentials or skills, we all learned that there is a possiblity that Rusty might not serve out his full term.  Rusty's parents are aging and may require Rusty moving out of state to care for them.  Obviously we all hope and pray for his parents' continued good health so that this won't be necessary, but kudos for Rusty for being forthright about his situation.
      </p>
      <p>
        During discussion, every Trustee spoke of Rusty's qualifications to be Chair, while Amy and Rene both appreciated Rusty's candor they spoke of the need for "stability" and couldn't support him.  Of course, their argument for stability would carry more weight if the entire District hadn't been whipsawed by Amy's Board for all of last year.  It's almost as if she had completely forgotten that the Board threw away all their operating plans and sending our students, parents, staff and administration into complete chaos two days before the start of school.  Yes, stability matters, but that comes in many forms.
      </p>
      <p>
        In the end, the Board did select Rusty as our new Chair 3-2, and we now have new leadership in West Ada.  Congratulations to Rusty!
      </p>
      <p>
        The Board then moved on to selecting a Vice-Chair, with Angie nominating Lori for that position.  Again, Amy and Rene spoke to the value of "experience", but these were rather perfunctory objections.  Lori spoke to her excitement in representing the Board in this position, and was elected accordingly, again 3-2.  Congratulations Lori!
      </p>
      <p>
        The remaining portion of the meeting detailed procedural and celebratory items, including a wonderful spotlight section honoring all of the Law Enforcement officers who serve in our schools.  You can see the details on these items in the <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/domain/79/board%20agendas/2022/1-24-22/Regular%20Board%20Meeting%20-%2001-10-2022%20-%20Meeting%20Minutes.pdf'>minutes</a>.
      </p>
      <p>
        And with that, West Ada now has new leadership and a new direction for the Board.  The most immediate change that we're likely to see under Chair Rusty Coffelt is the re-opening of public comment at the Board meetings themselves &mdash; which will go a long way to rebuilding the Public Trust.  So thank you to Rusty, Lori and Angie!  We wish you the very best for a successful year!
      </p>
    </section>

{% endblock %}

