{% extends '_base.html' %}
{% load bootstrap4 %}
{% load app_tags %}
{% load static %}

{% block title %}Board Meetings{% endblock title %}

{% block content %}
  <section class='my-5'>
    <h2>
      Board Meetings 21-22 School Year
    </h2>
  </section>
  <section class='my-5'>
    <p class='lead'>
      Review past Board Meetings
    </p>
    <table class='table'>
      <thead>
        <tr>
          <th>
            Date
          </th>
          <th>
            Agenda
          </th>
          <th>
            Transcript*
          </th>
          <th>
            Minutes
          </th>
          <th>
            Analysis
          </th>
        </tr>
      </thead>
      <tbody>
        {% comment %}
        <tr>
          <td>
            June 13, 2022
          </td>
          <td>
            {# <a href=''>Agenda</a> #}
          </td>
          <td>
            {# <a href=''>Transcript</a> #}
          </td>
          <td>
            {# <a href=''>Minutes</a> #}
          </td>
          <td>
            {# <a href=''>Analysis</a> #}
          </td>
        </tr>
        <tr>
          <td>
            May 23, 2021
          </td>
          <td>
            {# <a href=''>Agenda</a> #}
          </td>
          <td>
            {# <a href=''>Transcript</a> #}
          </td>
          <td>
            {# <a href=''>Minutes</a> #}
          </td>
          <td>
            {# <a href=''>Analysis</a> #}
          </td>
        </tr>
        <tr>
          <td>
            May 9, 2021
          </td>
          <td>
            {# <a href=''>Agenda</a> #}
          </td>
          <td>
            {# <a href=''>Transcript</a> #}
          </td>
          <td>
            {# <a href=''>Minutes</a> #}
          </td>
          <td>
            {# <a href=''>Analysis</a> #}
          </td>
        </tr>
        <tr>
          <td>
            April 25, 2021
          </td>
          <td>
            {# <a href=''>Agenda</a> #}
          </td>
          <td>
            {# <a href=''>Transcript</a> #}
          </td>
          <td>
            {# <a href=''>Minutes</a> #}
          </td>
          <td>
            {# <a href=''>Analysis</a> #}
          </td>
        </tr>
        <tr>
          <td>
            April 11, 2021
          </td>
          <td>
            {# <a href=''>Agenda</a> #}
          </td>
          <td>
            {# <a href=''>Transcript</a> #}
          </td>
          <td>
            {# <a href=''>Minutes</a> #}
          </td>
          <td>
            {# <a href=''>Analysis</a> #}
          </td>
        </tr>
        <tr>
          <td>
            March 14, 2021
          </td>
          <td>
            {# <a href=''>Agenda</a> #}
          </td>
          <td>
            {# <a href=''>Transcript</a> #}
          </td>
          <td>
            {# <a href=''>Minutes</a> #}
          </td>
          <td>
            {# <a href=''>Analysis</a> #}
          </td>
        </tr>
        <tr>
          <td>
            February 28, 2021
          </td>
          <td>
            {# <a href=''>Agenda</a> #}
          </td>
          <td>
            {# <a href=''>Transcript</a> #}
          </td>
          <td>
            {# <a href=''>Minutes</a> #}
          </td>
          <td>
            {# <a href=''>Analysis</a> #}
          </td>
        </tr>
        <tr>
          <td>
            February 14, 2021
          </td>
          <td>
            {# <a href=''>Agenda</a> #}
          </td>
          <td>
            {# <a href=''>Transcript</a> #}
          </td>
          <td>
            {# <a href=''>Minutes</a> #}
          </td>
          <td>
            {# <a href=''>Analysis</a> #}
          </td>
        </tr>
        {% endcomment %}
        <tr>
          <td>
            January 24, 2021
          </td>
          <td>
            <a href='https://www.westada.org/Page/169#calendar131/20220124/event/797174'>Agenda</a>
          </td>
          <td>
            {# <a href=''>Transcript</a> #}
          </td>
          <td>
            {# <a href=''>Minutes</a> #}
          </td>
          <td>
            {# <a href=''>Analysis</a> #}
          </td>
        </tr>
        <tr>
          <td>
            January 10, 2021
          </td>
          <td>
            <a href='https://www.westada.org/Page/169#calendar131/20220120/event/795401'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/dg8IccxUaHDu13m9TdbLOnO8PJDWSiphbgrEghQtxsCVfVI6SQwB4NO9qDRuYz4WIo4OGurSOyEru2EkEJ7Hg54wQd8?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/domain/79/board%20agendas/2022/1-24-22/Regular%20Board%20Meeting%20-%2001-10-2022%20-%20Meeting%20Minutes.pdf'>Minutes</a>
          </td>
          <td>
            <a href='{% static "app/open_meeting_12_13_2021.pdf" %}'>Analysis</a>
          </td>
        </tr>
        <tr>
          <td colspan=5 class='text-center'>
            (New Board Composition)
          </td>
        </tr>
        <tr>
          <td>
            December 13, 2021
          </td>
          <td>
            <a href='https://www.westada.org/site/Default.aspx?PageID=2&DomainID=4#calendar1/20211213/event/772983'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/m41eS0JssfuQz30UK-kUiwSpwAaSWG1pPo4VfJ_g3g81MFi-zNNyC_yJelNJCJnw5vhaleZ2qtUkPXDA2bLnAgi1pwc?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/domain/79/board%20agendas/2022/1-10-22/Regular%20Board%20Meeting%20%20-%2012-13-2021%20-%20Meeting%20Minutes.pdf'>Minutes</a>
          </td>
          <td>
            <a href='{% static "app/open_meeting_complaint_12_13_2021.pdf" %}'>Analysis</a>
          </td>
        </tr>
        <tr>
          <td>
            November 15, 2021
          </td>
          <td>
            <a href='https://www.westada.org/Page/2#calendar1/20211025/event/772981'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/_SHTH_KOw0_cj1gacsY8yKb_VDXn02SIAmNY_5cQ2GFBakkKpf8BZ73yIHVY98s-hDB6l3kmpt8cC_xh4MZTInNSsYI?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/domain/79/board%20agendas/2021/12-13-21/November%2015%202021%20Minutes.pdf'>Minutes</a>
          </td>
          <td>
            {# <a href=''>Analysis</a> #}
          </td>
        </tr>
        <tr>
          <td>
            November 11, 2021
          </td>
          <td>
            <a href='https://www.westada.org/site/Default.aspx?PageID=2&DomainID=4#calendar1/20211115/event/791399'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/IYkzxPicWbjCkPBYtLwUqjBnGs2V6vrjgBOQRFMx6R3U-pfuHrg6xF-K_nj0kkEXOTjwnnli_KaDEjYVvLJ6UTjYb0o?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/domain/79/board%20agendas/2021/12-13-21/November%2011%202021%20Minutes.pdf'>Minutes</a>
          </td>
          <td>
            <a href='{% url "analysis-2021-11-13" %}'>Analysis</a>
          </td>
        </tr>
        <tr>
          <td>
            October 25, 2021
          </td>
          <td>
            <a href='https://www.westada.org/Page/2#calendar1/20211025/event/772981'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/FxO4Hq_GG_k_eFTu6W_bsQnqxmd2TSauh_ifGFSKONf370fyZLjm069NAQsn8R2y-0Hcc4QfRenPxLJe9sWcIyV0ah8?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/Domain/79/Board%20Agendas/2021/11_15_21/October%2025%20meeting%20notes.pdf'>Minutes</a>
          </td>
          <td>
            {# <a href=''>Analysis</a> #}
          </td>
        </tr>
        <tr>
          <td>
            October 13, 2021
          </td>
          <td>
            <a href='https://www.westada.org/Page/2#calendar1/20211025/event/786253'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/cbZIXIR0NiACpFtRupwwoee7gb1f4qCbhF7NZlYSoqCZ_X2RVDWGKAlJ--I6r_0t_-FbcIr9G53jAq3GEu-otMLyY38?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/Domain/79/Board%20Agendas/2021/11_15_21/October%2013%20meeting%20notes.pdf'>Minutes</a>
          </td>
          <td>
            {# <a href=''>Analysis</a> #}
          </td>
        </tr>
        <tr>
          <td>
            October 11, 2021
          </td>
          <td>
            <a href='https://www.westada.org/Page/2#calendar1/20211025/event/772980'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/IoM3ceqS1ZiYaP2FCp1kVDbsLs2IhBrz2FNCoezyA8u84ZVjF_oafVBtyRhmJC_C8RjuD8EKx0L_a21_oeY6gyXmPGM?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/Domain/79/Board%20Agendas/2021/10_25_21/Min.%20101121.pdf'>Minutes</a>
          </td>
          <td>
            {# <a href=''>Analysis</a> #}
          </td>
        </tr>
        <tr>
          <td>
            September 27, 2021
          </td>
          <td>
            <a href='https://www.westada.org/Page/2#calendar1/20210925/event/772979'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/Bi3qxUjUTTZzrveEIyLK3cPM-7euWzDk8aTpoBwBQL59oPSzrjmV3w9y-gx2jtuRtdjASgsPweXtRkDrPBPGwZxFHFE?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/Domain/79/Board%20Agendas/2021/10_11_21/min%20092821.pdf'>Minutes</a>
          </td>
          <td>
            {# <a href=''>Analysis</a> #}
          </td>
        </tr>
        <tr>
          <td>
            September 8, 2021
          </td>
          <td>
            <a href='https://www.westada.org/Page/2#calendar1/20210925/event/779692'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/NdmpsuyNtE8Num8Ifxr8geebMeRfKO5MwWtKjh31nDV-w5cmTNUXdrfU0XMJx5gtukVYzuA-GYw-XcQeNAu0RmhSB0k?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/Domain/79/Board%20Agendas/2021/09_27_21/min%20080821.pdf'>Minutes</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/V0YgaihK9qsEDxpTqk3jMn0j7tFTpnvev9vbxR0WOWKjIv9DUOgsVVB1yfjEu4RwQooknjfET7dx5Ioal7WsUZgEAkQ?loadFrom=SharedLink'>Analysis Part One;</a>&nbsp;&nbsp;<a href='https://www.rev.com/transcript-editor/shared/8eozq18LmisnLxS9PN8hk6Bb8eAqwKgwajb4ksT2piKq_HqCfxCBEvednDZC_m7q1mAICL8mc3kwIQP2f2EvEYG2GmY?loadFrom=SharedLink'>Analysis Part Two</a>
          </td>
        </tr>
        <tr>
          <td>
            August 24, 2021
          </td>
          <td>
            <a href='https://www.westada.org/Page/2#calendar1/20210825/event/772977'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/XMO9GOuzANz2RTfVWEciyofRBCk4fzknLRpIHMAPRuxvIXw0NfQTvuPh64hcx-iCzA9bpi8Q1Ojjhs8HggnrXfzyzfo?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/Domain/79/Board%20Agendas/2021/09_08_21/min%20082421.pdf'>Minutes</a>
          </td>
          <td>
            {# <a href=''>Analysis</a> #}
          </td>
        </tr>
        <tr>
          <td>
            August 10, 2021
          </td>
          <td>
            <a href='https://www.westada.org/Page/2#calendar1/20210825/event/772976'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/hFkW92O-G1mZfF8MLNM02kJ8TKYW3YAFYC6K1hYbobT-9X6gbIwvLHluBFgEcuLav0avAL_-Q4AGbi1P4KkauQbT1Q0?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/Domain/79/Board%20Agendas/2021/08_24_21/min%20081021.pdf'>Minutes</a>
          </td>
          <td>
            {# <a href=''>Analysis</a> #}
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class='my-5'>
    <p class='lead'>
      <strong>*Note:</strong> These are machine-generated transcripts; as such, they may contain errors of omission or translation.  Please refer to the source video for clarification when necessary.
    </p>
  </section>
{% endblock content %}
