{% extends 'app/pages/base.html' %}
{% load bootstrap4 %}

{% block metatags %}
  <meta property="og:title" content="West Ada Parents Support our Superintendent" />
  <meta property="og:image" content='{% static "app/poster2.png" %}' />
  <meta property="og:image:secure_url" content='{% static "app/poster2.png" %}' />
  <meta property="og:url" content="https://www.westadaparents.com" />
  <meta property="og:type" content="website" />
  <meta property="fb:app_id" content="1236648860100768" />
  <meta property="og:description" content="Click to keep Schools Open and Kids Smiling." />
{% endblock metatags %}

{% block customstyles %}
{% endblock customstyles %}


{% block title %}Comment by {{comment.account.name}}{% endblock title %}

{% block content %}
  <section class='my-5 col-md-12'>
    <div class='card'>
      <div class='card-header'>
        <h4>
          Comment by {{comment.account.name}}
        </h4>
        <ul class='list-unstyled'>
          {% for student in comment.account.students.all %}
            <li><small>{{student.school.name}}, {{student.get_grade_display }}</small></li>
          {% endfor %}
          <li><small>Sent to {{comment.issue.recipient_name}}, {{comment.created}}</small></li>
        </ul>
      </div>
      <div class="card-body">
        <div class='card-text'>
          <h5 class='my-5'>
            {{comment.content}}
          </h5>
        </div>
      </div>
      <div class='card-footer'>
        Share This
      </div>
    </div>
  </section>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
