{% extends 'app/pages/base.html' %}
{% load bootstrap4 %}
{% load app_tags %}

{% block customstyles %}
{% endblock customstyles %}


{% block title %}Comments{% endblock title %}

{% block content %}

  <section class='my-5'>
    <h2>
      Comments
    </h2>
  </section>
  {% if not account.is_public %}
    <section class='col-md-12'>
      <div class='card'>
        <h4 class='card-header'>
          Private Account
        </h4>
        <div class="card-body">
          <div class='card-title'>
          </div>
          <div class='card-text'>
            <p class='lead col-md-8'>
              While we have registered your private support for the Superintendent, you need to make your name public in order to make a public comment.  You can make this change at your <a href='{% url "account" %}'>Account Page</a>, and then return here to submit a comment.
            </p>
          </div>
        </div>
      </div>
    </section>

  {% elif comment.get_state_display == 'Approved' %}
    <section class='col-md-12'>
      <div class='card'>
        <h4 class='card-header'>
          Your Comment
        </h4>
        <div class="card-body">
          <div class='card-title'>
          </div>
          <div class='card-text'>
            <blockquote class="blockquote mb-0">
              <p>
                "{{comment.content}}"
              </p>
              <footer class="blockquote-footer">Sent on {{comment.updated}}</footer>
            </blockquote>
          </div>
        </div>
        <div class='card-footer'>
          <ul class='list-inline '>
            <li class='list-inline-item'>
              {% bootstrap_button "Share Your Comment on Facebook" button_type='link' href=comment_delete size='large' button_class='btn-primary' extra_classes='ml-3' id='facebook-share-button'%}
            </li>
            <li class='list-inline-item float-right'>
              <a class='text-danger align-bottom' href='{% url "comment-delete" comment.id %}'>Delete Comment</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  {% elif comment.get_state_display == 'Denied' %}
    <section class='col-md-12'>
      <form method='post'>
        {% csrf_token %}
        <div class='card'>
          <h4 class='card-header'>
            Your Comment
          </h4>
          <div class="card-body">
            <div class='card-title'>
              <p class='lead'>
                Your Comment was Not Approved
              </p>
              <p>
                We generally only allow comments that are respectful and constrained to the issue at-hand, namely: keeping the schools open and masks-optional.  Please edit your comment according to these guidelines, save, and then we can approve it.
              </p>
              <ul class='list-styled'>
                <li><strong>Say directly you support the Superintendent!</strong></li>
                <li>Remain respectful and on-topic.</li>
                <li>Be concise.</li>
                <li>Don't include links or attachments.</li>
              </ul>
            </div>
            <div class='card-text'>
                {% bootstrap_form_errors form %}
                {% bootstrap_field form.content show_help=True show_label=False %}
            </div>
          </div>
          <div class='card-footer'>
            <ul class='list-inline'>
              <li class='list-inline-item'>
                {% bootstrap_button "Save" button_type='submit' size='large' %}</li>
              <li class='list-inline-item'>
                {% bootstrap_button "Cancel" button_type='link' href="/comments" size='large' button_class='btn-outline-dark' extra_classes='ml-3'%}
              </li>
              <li class='list-inline-item float-right'>
                <a class='text-danger align-bottom' href='{% url "comment-delete" comment.id %}'>Delete Comment</a>
              </li>
            </ul>
          </div>
        </div>
      </form>
    </section>
  {% elif comment.get_state_display == 'Archived' %}
  {% elif comment.get_state_display == 'Pending' %}
    <section class='col-md-12'>
      <form method='post'>
        {% csrf_token %}
        <div class='card'>
          <h4 class='card-header'>
            Your Comment
          </h4>
          <div class="card-body">
            <div class='card-title'>
              <p class='lead'>
                Your Comment is Pending
              </p>
              <p class='col-md-8'>
                Forgive the delay, but we need to review Comments for appropriateness.  You can edit your comment at any time prior to approval, after which it will posted to the website and sent to the Superintendent with a copy to you.  This process generally takes less than 24 hours.
              </p>
            </div>
            <div class='card-text mt-5 col-md-8'>
                {% bootstrap_form_errors form %}
                {% bootstrap_field form.content show_help=True show_label=False %}
            </div>
          </div>
          <div class='card-footer'>
            <div class='col-md-12'>
            <ul class='list-inline'>
              <li class='list-inline-item'>
                {% bootstrap_button "Save Edits" button_type='submit' size='large' %}</li>
              <li class='list-inline-item'>
            {% bootstrap_button "Cancel Edits" button_type='link' href="/comments" size='large' button_class='btn-outline-dark' extra_classes='ml-3'%}
              </li>
              <li class='list-inline-item float-right'>
                <a class='text-danger align-bottom' href='{% url "comment-delete" comment.id %}'>Delete Comment</a>
              </li>
            </ul>
          </div>
          </div>
        </div>
      </form>
    </section>
  {% else %}
    <section class='col-md-12'>
      <form method='post'>
        {% csrf_token %}
        <div class='card'>
          <h4 class='card-header'>
            Submit Comment
          </h4>
          <div class="card-body">
            <div class='card-title'>
              <p class='lead'>
                We'll post your comment and forward a copy to the Superintendent
              </p>
              <ul class='list-styled'>
                <li><strong>Say directly you support him!</strong></li>
                <li>Remain respectful and on-topic.</li>
                <li>Be concise.</li>
                <li>Don't include links or attachments.</li>
              </ul>
            </div>
            <div class='card-text'>
                {% bootstrap_form_errors form %}
                {% bootstrap_field form.content show_help=True show_label=False %}
            </div>
          </div>
          <div class='card-footer'>
            <ul class='list-inline'>
              <li class='list-inline-item'>
                {% bootstrap_button "Save" button_type='submit' size='large' %}</li>
              <li class='list-inline-item'>
            {% bootstrap_button "Cancel" button_type='link' href="/comments" size='large' button_class='btn-outline-dark' extra_classes='ml-3'%}
              </li>
            </ul>
          </div>
        </div>
      </form>
    </section>
  {% endif %}
  <section class='my-5 col-md-12'>
    <div class='card'>
      <h4 class='card-header'>
        All Public Comments
      </h4>
      <div class="card-body">
        <div class='card-text'>
          <table class='table'>
            <thead>
              <tr class='row'>
                <th scope='col' class='col-5'>Name</th>
                <th scope='col' class='col-7'>Comments</th>
              </tr>
            </thead>
            <tbody>
              {% for comment in comments %}
                <tr class='row'>
                  <td class='col-5'>
                    {{comment.account.name}}<br>
                    <ul class='list-unstyled'>
                      {% if comment.account.role == 1 %}
                        <li class='list-inline-item'>
                            <span class="badge badge-warning">Parent</span>
                        </li>
                      {% elif comment.account.role == 2 %}
                        <li class='list-inline-item'>
                            <span class="badge badge-success">Student</span>
                        </li>
                      {% elif comment.account.role == 3 %}
                        <li class='list-inline-item'>
                            <span class="badge badge-danger">Teacher</span>
                        </li>
                      {% endif %}

                      {% for student in comment.account.students.all %}
                        <li>
                            <small>{{student.school.name}} {{student.get_grade_display}}</small>
                        </li>
                      {% endfor %}

                      {% if comment.account.zone %}
                        <li class='list-inline-item'>
                          <span class="badge badge-light">{{account.get_zone_display}}</span>
                        </li>
                      {% endif %}
                    </ul>
                  </td>
                  <td class='col-7'>
                    {% if comment.wordcount < 60 %}
                      {{comment.content}}
                    {% else %}
                      <div class="collapse show" id="comment-{{comment.id}}">
                        {{comment.content|truncatewords:60}}
                      </div>
                      <div class="collapse" id="comment-{{comment.id}}">
                        {{comment.content}}
                      </div>
                      <a data-toggle="collapse" href="#comment-{{comment.id}}"><small>more</small></a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

{% block postbody %}
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId            : '{% get_env_var "FACEBOOK_CLIENT_ID" %}',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v11.0'
      });
    };
  </script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
  <script>
  </script>
{% endblock %}

{% block scripts %}
  <script>
    const FBbutton = document.querySelector('#facebook-share-button');
    FBbutton.addEventListener('click', async () => {
      FB.ui({
        method: 'share',
        href: 'https://www.westadaparents.com',
        quote: '{{comment.content|escape}}',
      }, function(response){});
    });
  </script>
{% endblock scripts %}
