{% extends 'app/pages/base.html' %}
{% load bootstrap4 %}
{% load app_tags %}
{% load static %}

{% block customstyles %}
{% endblock customstyles %}

{% block metatags %}
  <meta property="og:title" content="Support the Superintendent" />
  <meta property="og:image" content='{% static "app/supportbub.png" %}' />
  <meta property="og:image:secure_url" content='{% static "app/supportbub.png" %}' />
  <meta property="og:url" content="https://www.westadaparents.com" />
  <meta property="og:type" content="website" />
  <meta property="fb:app_id" content="1236648860100768" />
  <meta property="og:description" content="Send a Message to Dr. Bub to keep schools open and masks-optional." />
{% endblock metatags %}


{% block title %}Comments{% endblock title %}

{% block content %}

  {% comment %}
  <section class='my-5'>
    <h2>
      Comments
    </h2>
  </section>
  {% endcomment %}
  {% if not account.is_public %}
    <section class='col-md-12 mt-5'>
      <div class='card'>
        <h4 class='card-header'>
          Private Account
        </h4>
        <div class="card-body">
          <div class='card-title'>
          </div>
          <div class='card-text'>
            <p class='lead col-md-8'>
              While we have registered your private support for the Superintendent, you need to make your name public in order to make a public comment.  You can make this change at your <a href='{% url "account" %}'>Account Page</a>, and then return here to submit a comment.
            </p>
          </div>
        </div>
      </div>
    </section>

  {% elif comment.get_state_display == 'Approved' %}
    <section class='col-md-12 mt-5'>
      <div class='card'>
        <h4 class='card-header'>
          Your Comment
        </h4>
        <div class="card-body">
          <div class='card-title'>
          </div>
          <div class='card-text'>
            <blockquote class="blockquote mb-0">
              <p>
                "{{comment.content}}"
              </p>
              <footer class="blockquote-footer">Sent to Superintendent Bub on {{comment.updated}}</footer>
            </blockquote>
          </div>
        </div>
        <div class='card-footer'>
          <ul class='list-inline'>
            <li class='list-inline-item'>
              {% bootstrap_button "Share Your Comment on Facebook" button_type='link' size='small' button_class='btn-primary' extra_classes='ml-3 mt-3' id='facebook-share-button'%}
            </li>
            <li class='list-inline-item'>
              {% bootstrap_button "Share Your Comment via Text" button_type='link' size='small' button_class='btn-success' extra_classes='ml-3 mt-3' id='text-share-button'%}
            </li>
          </ul>
        </div>
      </div>
      <p class='float-right'>
        <a class='text-danger align-bottom' href='{% url "comment-delete" comment.id %}'><small>Delete Comment</small></a>
      </p>
    </section>
  {% elif comment.get_state_display == 'Denied' %}
    <section class='col-md-12 mt-5'>
      <form method='post'>
        {% csrf_token %}
        <div class='card'>
          <h4 class='card-header'>
            Your Comment
          </h4>
          <div class="card-body">
            <div class='card-title'>
              <p class='lead'>
                Your Comment was Not Approved
              </p>
              <p>
                We generally only allow comments that are respectful and constrained to the issue at-hand, namely: keeping the schools open and masks-optional.  Please edit your comment according to these guidelines, save, and then we can approve it.
              </p>
              <ul class='list-styled'>
                <li><strong>Say directly you support the Superintendent!</strong></li>
                <li>Remain respectful and on-topic.</li>
                <li>Be concise.</li>
                <li>Don't include links or attachments.</li>
              </ul>
            </div>
            <div class='card-text'>
                {% bootstrap_form_errors form %}
                {% bootstrap_field form.content show_help=True show_label=False %}
            </div>
          </div>
          <div class='card-footer'>
            <ul class='list-inline'>
              <li class='list-inline-item'>
                {% bootstrap_button "Send!" button_type='submit' size='large' %}</li>
              <li class='list-inline-item'>
                {% bootstrap_button "Cancel" button_type='link' href="/comments" size='large' button_class='btn-outline-dark' extra_classes='ml-3'%}
              </li>
            </ul>
          </div>
        </div>
      </form>
      <p class='float-right'>
        <a class='text-danger align-bottom' href='{% url "comment-delete" comment.id %}'><small>Delete Comment</small></a>
      </p>
    </section>
  {% elif comment.get_state_display == 'Archived' %}
  {% elif comment.get_state_display == 'Pending' %}
    <section class='col-md-12 mt-5'>
      <form method='post'>
        {% csrf_token %}
        <div class='card'>
          <h4 class='card-header'>
            Your Comment
          </h4>
          <div class="card-body">
            <div class='card-title'>
              <p class='lead'>
                Your Comment is Pending
              </p>
              <p class='col-md-8'>
                Forgive the delay, but we need to verify your account before we send your comment.  Please check your email and click on the verification link we sent you; once that is complete we will forward your letter to Superintendent Bub and post it to the website.
              </p>
              <p class='col-md-8'>
                If you have not yet received your verification link in email, or otherwise are having problems, please <a href='mailto:support@westadaparents.com'>contact support</a> and we'll get things cleared up right away.
              </p>
            </div>
            <div class='card-text mt-5 col-md-8'>
                {% bootstrap_form_errors form %}
                {% bootstrap_field form.content show_help=True show_label=False %}
            </div>
          </div>
          <div class='card-footer'>
            <div class='col-md-12'>
              <ul class='list-inline'>
                <li class='list-inline-item'>
                  {% bootstrap_button "Save" button_type='submit' size='large' %}</li>
                <li class='list-inline-item'>
              {% bootstrap_button "Cancel" button_type='link' href="/comments" size='large' button_class='btn-outline-dark' extra_classes='ml-3'%}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </form>
      <p class='float-right'>
        <a class='text-danger align-bottom' href='{% url "comment-delete" comment.id %}'><small>Delete Comment</small></a>
      </p>
    </section>
  {% else %}
    <section class='col-md-12 mt-5'>
      <form method='post'>
        {% csrf_token %}
        <div class='card'>
          <h4 class='card-header'>
            Submit Comment
          </h4>
          <div class="card-body">
            <div class='card-title'>
              <p class='lead'>
                We'll post your comment and forward a copy to the Superintendent
              </p>
              <ul class='list-styled'>
                <li><strong>Say directly you support him!</strong></li>
                <li>Remain respectful and on-topic.</li>
                <li>Be concise.</li>
                <li>Don't include links or attachments.</li>
              </ul>
            </div>
            <div class='card-text'>
                {% bootstrap_form_errors form %}
                {% bootstrap_field form.content show_help=True show_label=False %}
            </div>
          </div>
          <div class='card-footer'>
            <ul class='list-inline'>
              <li class='list-inline-item'>
                {% bootstrap_button "Send!" button_type='submit' size='large' %}</li>
              <li class='list-inline-item'>
            {% bootstrap_button "Cancel" button_type='link' href="/comments" size='large' button_class='btn-outline-dark' extra_classes='ml-3'%}
              </li>
            </ul>
          </div>
        </div>
      </form>
    </section>
  {% endif %}

  <section class='my-5 col-md-12'>
    <div class='card'>
      <h4 class='card-header'>
        All Public Comments
      </h4>
      <div class="card-body">
        <div class='card-text'>
          <table class='table'>
            <thead>
              <tr class='row'>
                <th scope='col' class='col-5'>Name</th>
                <th scope='col' class='col-7'>Comments</th>
              </tr>
            </thead>
            <tbody>
              {% for comment in comments %}
                <tr class='row'>
                  <td class='col-5'>
                    {# <a href='{% url "comment" comment.id %}'>{{comment.account.name}}</a><br> #}
                    {{comment.account.name}}<br>
                  </td>
                  <td class='col-7'>
                    {% if comment.wordcount < 60 %}
                      {{comment.content}}
                    {% else %}
                      <div class="collapse show" id="comment-{{comment.id}}">
                        {{comment.content|truncatewords:60}}
                      </div>
                      <div class="collapse" id="comment-{{comment.id}}">
                        {{comment.content}}
                      </div>
                      <a data-toggle="collapse" href="#comment-{{comment.id}}"><small>more</small></a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

{% block scripts %}
  {% if comment.get_state_display == 'Approved' %}
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId            : '{% get_env_var "FACEBOOK_CLIENT_ID" %}',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v11.0'
        });
      };
    </script>
    <script>
      const FBbutton = document.querySelector('#facebook-share-button');
      FBbutton.addEventListener('click', async () => {
        FB.ui({
          method: "share",
          href: "https://www.westadaparents.com",
          quote: "{{comment.content|escapejs}}"
        }, function(response){});
      });
    </script>

    <script>
      const toShare = {
        title: "West Ada Parents",
        // text: "{{comment.content|escapejs}}",
        text: "Superintendent Bub wants to keep schools masks-optional -- please write him a note of support like I did because he needs our help!  Thanks.",
        url: "https://www.westadaparents.com",
      };
      const button = document.querySelector('#text-share-button');
      button.addEventListener('click', async () => {
        try {
          await navigator.share(toShare); // Will trigger the native "share" feature
          button.textContent = 'Thank You -- Share Again!';
        }
        catch(err) {
          Sentry.captureException(err);
          $("#text-share-button").replaceWith( "<p class='align-middle ml-3 mt-3'>Copy/Paste '<strong>https://www.westadaparents.com</strong>' in your Text or Email</p>" );
        }
      });
    </script>

  {% endif %}
{% endblock scripts %}
