{% extends 'app/pages/base.html' %}
{% load bootstrap4 %}
{% load app_tags %}

{% block title %}Compare Plans{% endblock title %}

{% block metatags %}
  <meta property="og:title" content="Compare West Ada Plans" />
  {% comment %}
  <meta property="og:image" content='http://res.cloudinary.com/dyvz0sbfw/image/upload/co_yellow,l_text:Impact_200_line_spacing_120:%20%20%20Join%20{{count}}%20Parents%0ASupporting%20Dr.%20Bub%27s%0A%20Mask-Optional%20Plan/c_scale,fl_relative,w_0.8/fl_layer_apply/v1/wapa/poster.png' />
  <meta property="og:image:secure_url" content='https://res.cloudinary.com/dyvz0sbfw/image/upload/co_yellow,l_text:Impact_200_line_spacing_120:%20%20%20Join%20{{count}}%20Parents%0ASupporting%20Dr.%20Bub%27s%0A%20Mask-Optional%20Plan/c_scale,fl_relative,w_0.8/fl_layer_apply/v1/wapa/poster.png' />
  {% endcomment %}
  <meta property="og:image" content='{% static "app/compare.png" %}' />
  <meta property="og:image:secure_url" content='{% static "app/compare.png" %}' />
  <meta property="og:url" content="https://www.westadaparents.com/compare" />
  <meta property="og:type" content="website" />
  <meta property="fb:app_id" content="1236648860100768" />
  <meta property="og:description" content="Let Dr. Bub know which plan you prefer." />
{% endblock metatags %}


{% block content %}
  <section class='my-5'>
    <h2>
      Compare Plans
    </h2>
    <p class='lead'>
      Compare the Two Leading Plans for the District
    </p>
  </section>
  <section class='my-5'>
    <div class='table-responsive'>
      <table class='table table-sm'>
        <thead class='thead'>
          <tr>
            <th>
              Focus
            </th>
            <th>
              <a href='https://www.westada.org/domain/11845'>Community Spread</a>
            </th>
            <th>
              <a href='{% url "plan" %}'>Educational Safety</a>
            </th>
          </tr>
        </thead>
        <tbody class='tbody'>
          <tr>
            <th>
              Metrics
            </th>
            <td>
              Case Numbers, Positivity Rates
            </td>
            <td>
              Hospitalization, Mortality
            </td>
          </tr>
          <tr>
            <th>
              Masks
            </th>
            <td>
              Mandatory If Spreading
            </td>
            <td>
              Always Optional If Safe
            </td>
          </tr>
          <tr>
            <th>
              School
            </th>
            <td>
              Remote-Learning If Spread Increases
            </td>
            <td>
              Always In-Person If Remains Safe
            </td>
          </tr>
          <tr>
            <th>
              End Goal
            </th>
            <td>
              Undefined
            </td>
            <td>
              Safe, Happy, Well-Educated Students
            </td>
          </tr>
          <tr>
            <th>
              Constituency
            </th>
            <td>
              Public Health Officials, Media
            </td>
            <td>
              Parents, Teachers, Students
            </td>
          </tr>
          <tr>
            <th>
              Process
            </th>
            <td>
              Test, Trace, Isolate, Quarantine by School
            </td>
            <td>
              Stay Home if Sick
            </td>
          </tr>
          <tr>
            <th>
              Sports/Extracirricular
            </th>
            <td>
              Potentially Cancelled
            </td>
            <td>
              Sit Out if Sick
            </td>
          </tr>
          <tr>
            <th>
              Teachers/Staff
            </th>
            <td>
              Vaccination/Testing
            </td>
            <td>
              Personal Responsibility
            </td>
          </tr>
          <tr>
            <th>
              Judge Variants by
            </th>
            <td>
              Contagiousness
            </td>
            <td>
              Dangerousness
            </td>
          </tr>
          <tr>
            <th>
              Emotional Appeal
            </th>
            <td>
              Fear
            </td>
            <td>
              Hope
            </td>
          </tr>
          <tr>
            <th>
              Normalcy
            </th>
            <td>
              Never
            </td>
            <td>
              Now
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section class='my-5'>
    <ul class='list-inline'>
      <li class='list-inline-item'>
        {% bootstrap_button "Share on Facebook" button_type='link' size='large' button_class='btn-primary' extra_classes='ml-3 mt-3' id='facebook-share-button'%}
      </li>
      <li class='list-inline-item'>
        {% bootstrap_button "Share via Text" button_type='link' size='large' button_class='btn-success' extra_classes='ml-3 mt-3' id='text-share-button'%}
      </li>
    </ul>
  </section>
{% endblock content %}

{% block scripts %}
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId            : '{% get_env_var "FACEBOOK_CLIENT_ID" %}',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v11.0'
      });
    };
  </script>
  <script>
    const FBbutton = document.querySelector('#facebook-share-button');
    FBbutton.addEventListener('click', async () => {
      FB.ui({
        method: "share",
        href: "https://www.westadaparents.com/compare",
        quote: "Compare the two plans for West Ada School District."
      }, function(response){});
    });
  </script>

  <script>
    const toShare = {
      title: "Click to Support Parent Choice",
      // text: "{{comment.content|escapejs}}",
      text: "Compare the two plans for West Ada School District.",
      url: "https://www.westadaparents.com/compare",
    };
    const button = document.querySelector('#text-share-button');
    button.addEventListener('click', async () => {
      try {
        await navigator.share(toShare); // Will trigger the native "share" feature
        button.textContent = 'Thank You -- Share Again!';
      }
      catch(err) {
        Sentry.captureException(err);
        $("#text-share-button").replaceWith( "<p class='align-middle ml-3 mt-3'>Copy/Paste '<strong>https://www.westadaparents.com</strong>' in your Text or Email</p>" );
      }
    });
  </script>
{% endblock scripts %}