{% extends 'app/pages/base.html' %}
{% load bootstrap4 %}
{% load app_tags %}
{% load static %}

{% block title %}Compare Plans{% endblock title %}

{% block metatags %}
  <meta property="og:title" content="Compare the Return to School Plans" />
  {% comment %}
  <meta property="og:image" content='http://res.cloudinary.com/dyvz0sbfw/image/upload/co_yellow,l_text:Impact_200_line_spacing_120:%20%20%20Join%20{{count}}%20Parents%0ASupporting%20Dr.%20Bub%27s%0A%20Mask-Optional%20Plan/c_scale,fl_relative,w_0.8/fl_layer_apply/v1/wapa/poster.png' />
  <meta property="og:image:secure_url" content='https://res.cloudinary.com/dyvz0sbfw/image/upload/co_yellow,l_text:Impact_200_line_spacing_120:%20%20%20Join%20{{count}}%20Parents%0ASupporting%20Dr.%20Bub%27s%0A%20Mask-Optional%20Plan/c_scale,fl_relative,w_0.8/fl_layer_apply/v1/wapa/poster.png' />
  {% endcomment %}
  <meta property="og:image" content='{% static "app/compare.png" %}' />
  <meta property="og:image:secure_url" content='{% static "app/compare.png" %}' />
  <meta property="og:url" content="{% url 'compare' %}" />
  <meta property="og:type" content="website" />
  <meta property="fb:app_id" content="1236648860100768" />
  <meta property="og:description" content="Let Dr. Bub know which plan you prefer." />
{% endblock metatags %}


{% block content %}
  <section class='my-5'>
    <h2>
      Compare Plans
    </h2>
    <p class='lead'>
      Compare the Two Return-to-School Plans for the District
    </p>
  </section>
  <section class='my-5'>
    <div class='table-responsive'>
      <table class='table table-sm'>
        <thead class='thead'>
          <tr>
            <th>

            </th>
            <th>
              <a href='https://www.westada.org/Page/87078'>Current Plan</a>
            </th>
            <th>
              <a href='{% url "plan" %}'>Parents Plan</a>
            </th>
          </tr>
        </thead>
        <tbody class='tbody'>
          <tr>
            <th>
              Focus
            </th>
            <td>
              Community Spread
            </td>
            <td>
              Educational Safety
            </td>
          </tr>
            <th>
              Concern
            </th>
            <td>
              How Contagious
            </td>
            <td>
              How Dangerous
            </td>
          </tr>
          <tr>
            <th>
              Metrics
            </th>
            <td>
              Case Counts, Positivity
            </td>
            <td>
              Hospitalization, Mortality
            </td>
          </tr>
          <tr>
            <th>
              Masks
            </th>
            <td>
              Targeted Mandates
            </td>
            <td>
              Parent Choice
            </td>
          </tr>
          <tr>
            <th>
              Remote-Learning
            </th>
            <td>
              Based on Spread
            </td>
            <td>
              Based on Safety
            </td>
          </tr>
          <tr>
            <th>
              Goal
            </th>
            <td>
              Prevent All Illness
            </td>
            <td>
              Prevent Serious Illness
            </td>
          </tr>
          <tr>
            <th>
              Isolation
            </th>
            <td>
              Determined Case-by-Case
            </td>
            <td>
              If Symptomatic/ Positive
            </td>
          </tr>
          <tr>
            <th>
              Quarantine Release
            </th>
            <td>
              Unspecified
            </td>
            <td>
              10 Days OR Negative OR Masked
            </td>
          </tr>
          <tr>
            <th>
              Constituency
            </th>
            <td>
              Public Health Officials, Media
            </td>
            <td>
              Parents, Teachers, Students
            </td>
          </tr>
          <tr>
            <th>
              Sports/ Extracirricular
            </th>
            <td>
              Undefined (Cancelled?)
            </td>
            <td>
              Sit Out if Sick
            </td>
          </tr>
          <tr>
            <th>
              Teachers/ Staff
            </th>
            <td>
              Vaccination/ Testing
            </td>
            <td>
              Personal Responsibility
            </td>
          </tr>
          <tr>
            <th>
              Normalcy
            </th>
            <td>
              Never
            </td>
            <td>
              Now
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <p>
    Back to <a href='{% url "plan" %}'>Parents Plan</a>
  </p>
  <section class='my-5'>
    <ul class='list-inline'>
      <li class='list-inline-item'>
        {% bootstrap_button "Share on Facebook" button_type='link' size='large' button_class='btn-primary' extra_classes='ml-3 mt-3' id='facebook-share-button'%}
      </li>
      <li class='list-inline-item'>
        {% bootstrap_button "Share via Text" button_type='link' size='large' button_class='btn-success' extra_classes='ml-3 mt-3' id='text-share-button'%}
      </li>
    </ul>
  </section>
{% endblock content %}

{% block scripts %}
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId            : '{% get_env_var "FACEBOOK_CLIENT_ID" %}',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v11.0'
      });
    };
  </script>
  <script>
    const FBbutton = document.querySelector('#facebook-share-button');
    FBbutton.addEventListener('click', async () => {
      FB.ui({
        method: "share",
        href: "https://www.westadaparents.com/compare",
        quote: "Compare the two plans for West Ada School District."
      }, function(response){});
    });
  </script>

  <script>
    const toShare = {
      title: "Compare the Return-to-School Plans",
      // text: "{{comment.content|escapejs}}",
      text: "Compare the two plans for West Ada School District.",
      url: "https://www.westadaparents.com/compare",
    };
    const button = document.querySelector('#text-share-button');
    button.addEventListener('click', async () => {
      try {
        await navigator.share(toShare); // Will trigger the native "share" feature
        button.textContent = 'Thank You -- Share Again!';
      }
      catch(err) {
        Sentry.captureException(err);
        $("#text-share-button").replaceWith( "<p class='align-middle ml-3 mt-3'>Copy/Paste '<strong>https://www.westadaparents.com</strong>' in your Text or Email</p>" );
      }
    });
  </script>
{% endblock scripts %}