{% extends 'app/pages/base.html' %}

{% block title %}Dashboard{% endblock title %}


{% block content %}
  <section class='my-5'>
    <h2>
      Dashboard
    </h2>
  </section>
  <section class='my-5'>
    <div class='col-lg-8'>
      <div class='card'>
        <h4 class='card-header'>Metrics</h4>
        <div class="card-body">
          <div class='card-title'>
          </div>
          <div class='card-text'>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='my-5'>
    <div class='col-lg-8'>
      <div class='card'>
        <h4 class='card-header'>Account</h4>
        <div class="card-body">
          <div class='card-title'>
          </div>
          <div class='card-text'>
            <dl class="row">
              <dt class="col-sm-4">
                Full Name
              </dt>
              <dd class="col-sm-8">
                {{account.name}}
              </dd>

              <dt class="col-sm-4">
                Listed Publicly?
              </dt>
              <dd class="col-sm-8">
                {{account.is_public|yesno|title}}
              </dd>
              <dt class="col-sm-4">
                Representing Spouse?
              </dt>
              <dd class="col-sm-8">
                {{account.is_spouse|yesno|title}}
              </dd>
              <dt class="col-sm-4">
                District Resident?
              </dt>
              <dd class="col-sm-8">
                {{account.address|yesno|title}}
              </dd>
              <dt class="col-sm-4">
                Students
              </dt>
              <dd class="col-sm-8">
                {% for student in account.students.all %}
                  <ul class='list-unstyled'>
                    <li>{{student.school.name}}, {{student.get_grade_display}}</li>
                  </ul>
                {% empty %}
                  (No Students in District Schools.)
                {% endfor %}
              </dd>
            </dl>
          </div>
        </div>
        <div class='card-footer'>
          Information Incorrect?  <a href='{% url "account" %}'>Click to Update</a>
        </div>
      </div>
    </div>
  </section>
  <section class='my-5'>
    <div class='col-lg-8'>
      <div class='card'>
        <h4 class='card-header'>Comments</h4>
        <div class="card-body">
          <div class='card-title'>
          </div>
          <div class='card-text'>
            {% for comment in comments %}
              <dl class="row">
                <dt class="col-sm-4">
                  Issue
                </dt>
                <dd class="col-sm-8">
                  {{comment.issue}}
                </dd>
                <dt class="col-sm-4">
                  Recipient
                </dt>
                <dd class="col-sm-8">
                  {{comment.recipient}}
                </dd>
                <dt class="col-sm-4">
                  Date Sent
                </dt>
                <dd class="col-sm-8">
                  {{comment.datetime}}
                </dd>
                <dt class="col-sm-4">
                  Content
                </dt>
                <dd class="col-sm-8">
                  {{comment.text}}
                </dd>
              </dl>
            {% empty %}
              (No comments.)
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='my-5'>
    <div class='col-lg-8'>
      <div class='card'>
        <h4 class='card-header'>Shares</h4>
        <div class="card-body">
          <div class='card-title'>
          </div>
          <div class='card-text'>
            <p>
              {{shares}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='my-5'>
    <div class='col-lg-8'>
      <div class='card'>
        <h4 class='card-header'>Events</h4>
        <div class="card-body">
          <div class='card-title'>
          </div>
          <div class='card-text'>
            <p>
              {{account.name}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
