{% extends 'app/pages/base.html' %}

{% load bootstrap4 %}

{% block title %}Delete Student{% endblock title %}

{% block content %}
  <section class='col-md-6'>
    <h2>
      Delete Student
    </h2>
    <p class='lead my-5'>
      Delete to remove all data related to this entry..
    </p>
    <div class='card'>
      <div class='card-body'>
          <p>
            {{student.name}}
          </p>
      </div>
    </div>
    <div class='mt-5'>
      <p>
        Please confirm as there is no undo!
      </p>
    </div>
  </section>
  <section class='my-5'>
    <form method='post' role='form'>
      {% csrf_token %}
      {% bootstrap_form_errors form %}
      {% bootstrap_field form.confirm %}
      {% bootstrap_button "Delete Student" button_type='submit' button_class='btn btn-danger btn-lg btn-block' %}
    </form>
  </section>
{% endblock content %}
