{% extends 'app/pages/base.html' %}

{% load static %}
{% block title %}Events{% endblock title %}
{% block metatags %}
  {% comment %}
  <meta property="og:title" content="Hold a Sign for Smile West Ada" />
  <meta property="og:image" content='{% static "app/signs.png" %}' />
  <meta property="og:image:secure_url" content='{% static "app/signs.png" %}' />
  <meta property="og:url" content="https://www.smilewestada.com/sign" />
  <meta property="og:type" content="website" />
  <meta property="fb:app_id" content="286973936371350" />
  <meta property="og:description" content="Smile West Ada is a group of parents who want masks optional the last two weeks of this school year.  Hold a sign at your school to spread the word!" />
  {% endcomment %}
{% endblock metatags %}

{% block content %}

  <section class='my-5'>
    <h2>
      Upcoming Events
    </h2>
  </section>

  <section class='my-5'>
    <div class='col-lg-8'>
      <p class='lead'>
        Following is a list of upcoming West Ada Parent events.  Click for details or to RSVP.
      </p>
    </div>
  </section>
  <section class='my-5 col-md-8'>
    <table class='table table-sm table-hover'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
          <tr>
            <td><a href='{% url "event" event.id %}'>{{event.name}}</a></td>
            <td>{{event.date}}</td>
            <td>{{event.location}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock content %}
