{% extends 'app/pages/base.html' %}

{% block title %}Frequently Asked Questions{% endblock title %}


{% block content %}

  <section class='my-5'>
    <h2>
      Frequently Asked Questions
    </h2>
  </section>
  <section class='my-5'>
    <div class='my-2'>
      <h5>
        Who are you?
      </h5>
      <p class='pl-4 col-lg-8'>
        We're a group of West Ada School District parents who want to support our District in created the best possible educational experience for our students.  The site was created by David Binetti, a parent in the West Ada School District.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        How is the WAPA different from the PTO?
      </h5>
      <p class='pl-4 col-lg-8'>
        While both the WAPA and PTO seek to serve our students, the WAPA plays a more active role in policy development and advocacy.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        Who pays for this?
      </h5>
      <p class='pl-4 col-lg-8'>
        Currently we are entirely volunteer-operated and are entirely free to join.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        What are you doing with my personal information?
      </h5>
      <p class='pl-4 col-lg-8'>
        Nothing!  Everything stays private unless you wish to make your information public.
      </p>
    </div>
    <div class='my-2'>
      <h5>
        What if I have a question you haven't addressed?
      </h5>
      <p class='pl-4 col-lg-8'>
        Please let us know at <a href='mailto:support@smilewestada.com'>support@smilewestada.com</a> so that we can add it to the FAQ!
      </p>
    </div>



  </section>
{% endblock content %}
