{% extends 'app/pages/base.html' %}

{% block title %}Logged Out!{% endblock title %}


{% block content %}
  <section class='my-5'>
    <h2>
      Logged Out
    </h2>
  </section>
  <section class='my-5'>
    <div class='col-lg-8'>
      <p class='lead'>
      <p>
        You are now logged out!  You can return to the <a href='{% url "index" %}'>homepage</a> or <a href='{% url "login" %}'>login</a> again.
      </p>
    </div>
  </section>
{% endblock content %}

{% block scripts %}
  <script>
    posthog.reset();
  </script>
{% endblock scripts %}
