{% extends 'app/pages/base.html' %}
{% load static %}
{% load cloudinary %}

{% block metatags %}

  <meta property="og:title" content="Follow the True North " />
  {% comment %}
  <meta property="og:image" content='http://res.cloudinary.com/dyvz0sbfw/image/upload/co_yellow,l_text:Impact_200_line_spacing_120:%20%20%20Join%20{{count}}%20Parents%0ASupporting%20Dr.%20Bub%27s%0A%20Mask-Optional%20Plan/c_scale,fl_relative,w_0.8/fl_layer_apply/v1/wapa/poster.png' />
  <meta property="og:image:secure_url" content='https://res.cloudinary.com/dyvz0sbfw/image/upload/co_yellow,l_text:Impact_200_line_spacing_120:%20%20%20Join%20{{count}}%20Parents%0ASupporting%20Dr.%20Bub%27s%0A%20Mask-Optional%20Plan/c_scale,fl_relative,w_0.8/fl_layer_apply/v1/wapa/poster.png' />
  {% endcomment %}
  <meta property="og:image" content='{% static "app/true_north_flow.png" %}' />
  <meta property="og:image:secure_url" content='{% static "app/true_north_flow.png" %}' />
  <meta property="og:url" content="https://www.westadaparents.com" />
  <meta property="og:type" content="website" />
  <meta property="fb:app_id" content="1236648860100768" />
  <meta property="og:description" content="Ask Dr. Bub to keep kids in school and sports!" />
{% endblock metatags %}


{% block customstyles %}
{% endblock customstyles %}


{% block title %}{% endblock title%}

{% block content %}
  <section class 'mt-5'>
    {# <div id='id_wistia'> #}
{# <script src="https://fast.wistia.com/embed/medias/4gyx407q64.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_4gyx407q64 videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/4gyx407q64/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>    </div> #}
    <div class='jumbotron'>
        <section class=''>
          <h3 class='mb-3'>
            Keep Healthy Kids in School
          </h3>
          <p>
            Ask Dr. Bub to support the <a href='{% url "truenorth" %}'>True North</a> Quarantine Release approach.
          </p>
        </section>


    {% comment %}
    <h3 class='mb-3'>
      Compare the WASD and WAPA Plans
    </h3>
    <div class='table-responsive'>
      <table class='table table-sm'>
        <thead class='thead'>
          <tr>
            <th>

            </th>
            <th>
              <a href='https://www.westada.org/Page/87078'>8/24 Board Plan</a>
            </th>
            <th>
              <a href='{% url "plan" %}'>Parents Plan</a>
            </th>
          </tr>
        </thead>
        <tbody class='tbody'>
          <tr>
            <th>
              Focus
            </th>
            <td>
              Community Spread
            </td>
            <td>
              Educational Safety
            </td>
          </tr>
            <th>
              Concern
            </th>
            <td>
              How Contagious
            </td>
            <td>
              How Dangerous
            </td>
          </tr>
          <tr>
            <th>
              Metrics
            </th>
            <td>
              Case Counts, Positivity
            </td>
            <td>
              Hospitalization, Mortality
            </td>
          </tr>
          <tr>
            <th>
              Masks
            </th>
            <td>
              Mandated, with Opt-Out
            </td>
            <td>
              Parental/Staff Choice
            </td>
          </tr>
          <tr>
            <th>
              Remote-Learning
            </th>
            <td>
              Based on Cases
            </td>
            <td>
              Based on Danger
            </td>
          </tr>
          <tr>
            <th>
              Goal
            </th>
            <td>
              Prevent All Illness
            </td>
            <td>
              Prevent Serious Illness
            </td>
          </tr>
          <tr>
            <th>
              Isolation
            </th>
            <td>
              If Sick/ Positive
            </td>
            <td>
              If Sick/ Positive
            </td>
          </tr>
          <tr>
            <th>
              Quarantine Release
            </th>
            <td>
              10 Days OR<br>
              5-Day Negative OR<br>
              Vaccinated
            </td>
            <td>
              10 Days OR<br>
              0-Day Negative OR<br>
              Wear Mask 10 Days
            </td>
          </tr>
          <tr>
            <th>
              Constituency
            </th>
            <td>
              Public Health Officials, Media
            </td>
            <td>
              Parents, Teachers, Students
            </td>
          </tr>
          <tr>
            <th>
              Sports/ Extracurricular
            </th>
            <td>
              Sit if Unmasked or Sick
            </td>
            <td>
              Sit if Sick
            </td>
          </tr>
          <tr>
            <th>
              Classroom
            </th>
            <td>
              Count Masks, Measure Distance, Trace Contacts, Teach
            </td>
            <td>
              Just Teach
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  {% endcomment %}


      {% comment %}
      <div class='mb-3'>
          <div class='mb-3 mx-3'>
            <p>
              <strong>West Ada Parents Support our Superintendent!</strong> <a href='{% url "join" %}'>Join Us</a> to show your support for Open Schools and Smiling Kids.
            </p>
          </div>
      </div>
      {% endcomment %}
      <div class='mt-3'>
        <a href='{% url "join" %}' class="btn btn-success btn-block btn-lg p-3 shadow-lg">
          Click to <strong>Join <span id='value'></span> Other Parents<br>in the West Ada Parents Association</strong>
        </a>
      </div>
      {% comment %}
      <div class='mt-3'>
        <a href='{% url "compare" %}' class="btn btn-light btn-block btn-lg p-3 shadow-lg">
          Or Compare the Plans
        </a>
      </div>
      {% endcomment %}
    </div>
  </section>
  <section class='m-3'>
    <table class='table'>
      <thead>
        <tr class='row'>
          <th scope='col' class='col-5'>Name</th>
          <th scope='col' class='col-7'>Comments</th>
        </tr>
      </thead>
      <tbody>
        {% for comment in comments %}
          <tr class='row'>
            <td class='col-5'>
              <ul class='list-inline'>
                <li class='list-inline-item align-top'>
                  {% cloudinary comment.account.picture.name AVATAR %}
                </li>
                <li class='list-inline-item'>
                  <strong>{{comment.account.name}}</strong><br>
                  {% for student in comment.account.students.all %}
                    {% if student.school.get_kind_display == 'Elementary School' %}
                      <span class='badge badge-warning badge-pill'>{{ student.school.name }} {{student.ord|default:"" }}</span><br>
                    {% elif student.school.get_kind_display == 'Middle School' %}
                      <span class='badge badge-success badge-pill'>{{ student.school.name }} {{student.ord|default:"" }}</span><br>
                    {% elif student.school.get_kind_display == 'High School' %}
                      <span class='badge badge-info badge-pill'>{{ student.school.name }} {{student.ord|default:"" }}</span><br>
                    {% endif %}
                  {% endfor %}
                </li>
              </ul>
            </td>
            <td class='col-7'>
              {% if comment.wordcount < 60 %}
                {{comment.content}}
              {% else %}
                <div class="collapse show" id="comment-{{comment.id}}">
                  {{comment.content|truncatewords:60}}
                </div>
                <div class="collapse" id="comment-{{comment.id}}">
                  {{comment.content}}
                </div>
                <a data-toggle="collapse" href="#comment-{{comment.id}}"><small>more</small></a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>

{% endblock content %}
{% block scripts %}
  <script>
    function animateValue(obj, start, end, duration) {
      let startTimestamp = null;
      const step = (timestamp) => {
        if (!startTimestamp) startTimestamp = timestamp;
        const progress = Math.min((timestamp - startTimestamp) / duration, 1);
        obj.innerHTML = Math.floor(progress * (end - start) + start);
        if (progress < 1) {
          window.requestAnimationFrame(step);
        }
      };
      window.requestAnimationFrame(step);
    }
    const obj = document.getElementById("value");
    animateValue(obj, 0, {{count}}, 2500);
  </script>
{% endblock scripts %}

