{% extends 'app/pages/base.html' %}

{% load bootstrap4 %}
{% load app_tags %}


{% block title %}Sharing{% endblock title %}

{% block content %}
  {% comment %}
  <section class='mt-5'>
    <h2 class='my-3 col-md-12'>
      Sharing
    </h2>
  </section>
  {% endcomment %}
  <section class='my-5'>
    <div class='col-md-8'>
      <div class='card'>
        <h4 class='card-header'>Share</h4>
        <div class="card-body">
          <div class='card-title'>
            <p class='lead'>
              Please Share Because <strong>More Parents</strong> Mean <strong>More Power</strong>!
            </p>
          </div>
          <div class='card-text'>
            <ul class='list-unstyled'>
              <li class='list-item my-3'>
                {% bootstrap_button "Share via Facebook" id='facebook-share-button' button_type='button' button_class='btn btn-primary btn-lg' %}
              </li>
              <li class='list-item my-3'>
                {% bootstrap_button "Share via Text" id='text-share-button' button_type='button' button_class='btn btn-success btn-lg' %}
              </li>
              <li class='list-item my-3'>
                Copy/Paste: <strong>https://www.westadaparents.com</strong>
              </li>
            </ul>
          </div>
        </div>
        <div class='card-footer'>
          <p>
            Remember to say that Bub needs to know your choice!
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block scripts %}
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId            : '{% get_env_var "FACEBOOK_CLIENT_ID" %}',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v11.0'
      });
    };
  </script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
  <script>
    const FBbutton = document.querySelector('#facebook-share-button');
    FBbutton.addEventListener('click', async () => {
      FB.ui({
        method: 'share',
        href: 'https://www.westadaparents.com',
        quote: 'I choose for my kid to smile!',
      }, function(response){});
    });
  </script>
  <script>
    const toShare = {
      title: "West Ada Parents",
      text: "I choose for my kid to smile!",
      url: "https://www.westadaparents.com"
    };
    const button = document.querySelector('#text-share-button');
    button.addEventListener('click', async () => {
      try {
        await navigator.share(toShare); // Will trigger the native "share" feature
        button.textContent = 'Thank You -- Share Again!';
      }
      catch(err) {
        button.textContent = 'Something went wrong:  copy and paste the URL below';
      }
    });
  </script>
{% endblock scripts %}

