{% extends '_base.html' %}
{% load bootstrap4 %}
{% load app_tags %}
{% load static %}

{% block title %}Parent Resources{% endblock title %}


{% block content %}
  <section class='my-5'>
    <h2>
      Parent Resources
    </h2>
  </section>
  <section class='my-5'>
    {% comment %}
    <p class='lead'>
      Click below for helpful resources
    </p>
    {% endcomment %}
    <table class='table'>
      <thead>
        <tr>
          <th>
            Resource
          </th>
          <th>
            Description
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href='{% url "updates" %}'><h3 class='bi-folder2'></h3></a>
          </td>
          <td>
            Read <a href='{% url "updates" %}'>Newsletter Updates</a> from the West Ada Parents Association.
          </td>
        </tr>
        <tr>
          <td>
            <a href='{% url "meetings" %}'><h3 class='bi-folder2'></h3></a>
          </td>
          <td>
            Review <a href='{% url "meetings" %}'>Board Meeting</a> agendas, minutes, transcripts, and analyses.
          </td>
        </tr>
        {% comment %}
        <tr>
          <td>
            <a href='{% url "plans" %}'><h3 class='bi-folder2'></h3></a>
          </td>
          <td>
            Read <a href='{% url "plans" %}'>Operational Plans</a> of the WASD and WAPA.
          </td>
        </tr>
        {% endcomment %}
        <tr>
          <td>
            <a href='{% url "complaints" %}'><h3 class='bi-folder2'></h3></a>
          </td>
          <td>
            Review the <a href='{% url "complaints" %}'>Complaints</a> process against Trustee Amy Johnson.
          </td>
        </tr>
      </tbody>
    </table>
  </section>
{% endblock content %}
