{% extends '_base.html' %}
{% load bootstrap4 %}
{% load app_tags %}
{% load static %}

{% block title %}Complaints Against Amy Johnson{% endblock title %}

{% block content %}
  <section class='my-5'>
    <h2>
      Complaint Against Amy Johnson
    </h2>
  </section>
  <section class='my-5'>
    <p class='lead'>
      Review material related to the two complaints filed against Amy Johnson for Breach of the Public Trust
    </p>
    <table class='table'>
      <thead>
        <tr>
          <th>
            Resource
          </th>
          <th>
            Description
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href='{% url "response-two" %}'><h3 class='bi-file-text'></h3></a>
          </td>
          <td>
            Response to prior Board's decision on Complaint #2.
          </td>
        </tr>
        <tr>
          <td>
            <a href='{% url "response-one" %}'><h3 class='bi-file-text'></h3></a>
          </td>
          <td>
            Response to prior Board's decision on Complaint #1.
          </td>
        </tr>
        <tr>
          <td>
            <a href='{% static "app/board_response_to_complaints.pdf" %}'><h3 class='bi-file-pdf'></h3></a>
          </td>
          <td>
            The prior Board's decision on the Complaints against Amy Johnson.
          </td>
        </tr>
        <tr>
          <td>
            <a href='{% static "app/attorney_general_response.pdf" %}'><h3 class='bi-file-pdf'></h3></a>
          </td>
          <td>
            The Attorney General Office's response to Amy Johnson's leaked letter.
          </td>
        </tr>
        <tr>
          <td>
            <a href='{% static "app/Trustee_Johnson_Complaint_10_17_21.pdf" %}'><h3 class='bi-file-pdf'></h3></a>
          </td>
          <td>
            Complaint #2 following Trustee Johnson's deception at the 13 October 2021 Board Meeting.
          </td>
        </tr>
        <tr>
          <td>
            <a href='{% static "app/Trustee_Johnson_Complaint.pdf" %}'><h3 class='bi-file-pdf'></h3></a>
          </td>
          <td>
            Complaint #1 calling for a full, fair, and independent investigation into Amy Johnson's Conflict of Interest.
          </td>
        </tr>
      </tbody>
    </table>
  </section>
{% endblock content %}
