{% extends '_base.html' %}
{% load bootstrap4 %}
{% load app_tags %}
{% load static %}

{% block title %}Response to Complaint Decision #2{% endblock title %}


{% block content %}
  <section class="col-md-8 my-5" id="truenorth">
    <h3 class='my-3'>
      Response to Decision for Complaint #2
    </h3>
    <p>
      For reference, please review the <a href='{% static "app/Trustee_Johnson_Complaint_10_17_21.pdf" %}'>original complaint</a> here, and the prior Board's <a href='{% static "app/board_response_to_complaints.pdf" %}'>response</h3></a>.
    </p>
    <p>
      The most striking thing about this response is that it confirms the facts of the complaint:  specifically that 1) the attorney who provided the recusal opinion works for the district, 2) solicited the leaked letter at Amy Johnson’s prompting without Board consent, and 3) was conducting the investigation in Amy Johnson's conflict of interest itself.  These were the aspects that I wished clarified, so I'm at least gratifed that we have confirmation of what happened.
    </p>
    <p>
      Unfortunately, the response then ties itself in knots to avoid the main issue.  It says, “this (complaint) appears to be continuation of the (original complaint)”, that it’s “centered around the Attorney General opinion”, and “seems (it) centers around… her employment.”
    </p>
    <p>
      However, the second complaint said none of those things.  Instead, it focused entirely around Amy Johnson's characterization of the attorney as an "independent third party".  Had the public been aware of the facts at the time, there would have rightly been howls of protest for a truly independent third party to render an opinion on the appropriateness of recusal.  This was avoided entirely through Amy Johnson's actions, and was a deliberate breach of the Public Trust that should have been sanctioned.
    </p>
    <p>
      Given that the facts are not in dispute, this is the only thing that needed to be considered: would a reasonable person consider an attorney who works for the district, solcited a leaked letter without Board consent at Amy's request, and was conducting the investigation itself an "independent third party"?  The answer is self-evidently "No", but Amy intentially characertized her as such specifically to ensure her participation in matters that warranted recusal.  The Board admits all of this while not doing anything about it &mdash; which makes this 'non-response' response particuarly galling.
    </p>
    <p>
      In sum, as with the first complaint response this response entirely avoids the issue.  Yet by acceding to this behavior without so much as a reprimand the Board is effectively condoning it.  I can only hope that such actions will not be acceptable in the future.
    </p>
  </section>
{% endblock %}

