{% extends '_base.html' %}
{% load bootstrap4 %}
{% load app_tags %}
{% load static %}

{% block title %}Response to Complaint Decision #1{% endblock title %}


{% block content %}
  <section class="col-md-8 my-5" id="truenorth">
    <h3 class='my-3'>
      Analysis of Response to Complaint #1
    </h3>
      <p>
        For reference, please review the <a href='{% static "app/Trustee_Johnson_Complaint.pdf" %}'>original complaint</h3></a> here, and the prior Board's <a href='{% static "app/board_response_to_complaints.pdf" %}'>response</h3></a>.  You'll notice the response to complaint #1 rests on two main points:
      </p>
      <p>
        <b>Trustee Johnson didn’t invite the administrators from St. Luke’s.</b>
      </p>
      <p>
        In focusing on the mundane details of the invitation process itself rather than the substance of the issue, the Board's response entirely misses the point.  No matter how the invitation was extended, the prudent action by Amy Johnson should have been disclosure of her professional relationship with the speakers and recusal from the matter entirely.  Instead, these speakers were granted more time and latitude than the patrons of the district, leading constituents to wonder why given the appearance of conflict of interest.  This is the part of the complaint that matters, not invitation mechanics.
      </p>
      <p>
        <b>The Conflict of Interest Policy 201.4 means something different than what it says.</b>
      </p>
      <p>
        It is beyond me why the Board would continue to hold to the Attorney General’s letter given that he <a href='{% static "app/attorney_general_response.pdf" %}'>responded directly repudiating this approach</a>.   There is nothing subjective about the policy: it states clearly that the appearance of conflict of interest with employment is to be avoided.  If you wish to change the policy, then by all means change it &mdash; but you don’t get to reimagine existing policy to be whatever it is you want it to be simply because that’s convenient.  This goes against every tradition of Western jurisprudence: we’re a country of laws, not of men.
      </p>
      <p>
        Next, it’s stated that the conflict of interest policy would prevent any board member with any level of knowledge or expertise from voting on any issue.  This is a canard.  The <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/Domain/3644/P201_4.pdf'>West Ada policy</a> doesn’t talk about knowledge or expertise &mdash; it specifically refers to conflicts between the district and employers and the need to avoid such appearances.
      </p>
      <p>
        In this case, Amy’s employer made public statements on the actions required to keep public schools open two days before the meeting where these actions would be decided.  Once that happened, the appearance of conflict of interest was inevitable and the only prudent action was disclosure and recusal.   But Amy avoided both through political manipulation and deception.  This is the core issue of my complaint that is entirely ignored.
      </p>
      <p>
        In sum, this response focuses on irrelevant details while ignoring the main issue.  Yet by acceding to this behavior without so much as a reprimand the Board is effectively condoning it.  I can only hope that such actions will not be acceptable in the future.
      </p>
  </section>
{% endblock %}

