<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
{% load app_tags %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    {# <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> #}
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="description" content="A community of well-informed citizens who support educational excellence and work in partnership with the school community to achieve quality educational results for all students.">
    <meta name="google" content="notranslate" />

    {% block robots %}
    {% endblock robots %}

    {% block opengraph %}
      <meta property="og:title" content="West Ada Parents Association" />
      <meta property="og:image" content='{% static "app/wider_logo.jpg" %}' />
      <meta property="og:image:secure_url" content='{% static "app/wider_logo.jpg" %}' />
      <meta property="og:url" content="{% url 'index' %}" />
      <meta property="og:type" content="website" />
      <meta property="fb:app_id" content="1236648860100768" />
      <meta property="og:description" content="Join 4,000 Parents Putting Kids First" />
    {% endblock opengraph %}

    <link rel="shortcut icon" href="{%  static 'app/favicon.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">

    {% block styles %}
    {% endblock styles %}


    <title>West Ada Parents Association {% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% block formmedia %}
    {% endblock formmedia %}
    <script>
        !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
        posthog.init('{% get_env_var "POSTHOG_API_KEY" %}',{api_host:'{% get_env_var "POSTHOG_HOST" %}'});
    </script>
  </head>
  <body>
    {% block topnav %}
      <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="{% url 'index' %}"><img class="d-inline-block mr-1" style='max-width:200px;' src='{% static "app/wide_logo.png" %}'></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class='nav-item mt-1'>
              <a href="{% url 'updates' %}" class='mr-3'><span class='bi-newspaper'></span>&nbsp;&nbsp;Updates</a>
            </li>
            {% comment %}
            <li class='nav-item mt-1'>
              <a href="{% url 'board' %}" class='mr-3'><span class='bi-mortarboard'></span>&nbsp;&nbsp;Board</a>
            </li>
            {% endcomment %}
            {% if request.user.is_authenticated %}
              <li class='nav-item mt-1'>
                <a href="{% url 'dashboard' %}" class='align-bottom bi-speedometer2 mr-3'>&nbsp;Dashboard</a>
              </li>
              <li class='nav-item mt-1'>
                <a href="{% url 'comments' %}" class='align-bottom bi-megaphone mr-3'>&nbsp;Comments</a>
              </li>
              <li class='nav-item mt-1'>
                <a href="{% url 'account' %}" class='align-bottom bi-gear mr-3'>&nbsp;Account</a>
              </li>
              {% if request.user.is_admin %}
                <li class='nav-item mt-1'>
                  <a href="{% url 'admin:index' %}" class='align-bottom bi-layout-text-window mr-3'>&nbsp;Admin</a>
                </li>
              {% endif %}
              <li class='nav-item'>
                <a href="{% url 'logout' %}" role='button' class='btn btn-sm btn-outline-dark ml-3'>Logout</a>
              </li>
            {% else %}
              <li class='nav-item mb-3'>
                <a href="{% url 'login' %}" role='button' class='btn btn-sm btn-outline-primary ml-3'>Login</a>
              </li>
            {% endif %}

          </ul>
        </div>
      </nav>
    {% endblock topnav %}

    <div id="content" class='container'>
      {% bootstrap_messages %}
      {% block content %}
      {% endblock %}
    </div>

    <br>
    <br>
    <br>
      <nav class="navbar navbar-expand-sm navbar-light">
        <ul class="nav nav-pills mr-auto">
          <li class="nav-item ml-3">
            <a href="{% url 'about' %}"><small>About</small></a>
          </li>
          <li class="nav-item ml-3">
            <a href="{% url 'faq' %}"><small>FAQ</small></a>
          </li>
          <li class="nav-item ml-3">
            <a href="{% url 'privacy' %}"><small>Privacy</small></a>
          </li>
          <li class="nav-item ml-3">
            <a href="{% url 'terms' %}"><small>Terms</small></a>
          </li>
          <li class="nav-item ml-3">
            <a href="{% url 'support' %}"><small>Support</small></a>
          </li>
        </ul>
      </nav>
    <br>
    <br>
    <br>


    <script src='https://js.sentry-cdn.com/43268a2325ad41519f7ac5ac1a4c4f9d.min.js' crossorigin="anonymous">
    </script>
    <script>
      Sentry.onLoad(function() {
        Sentry.init({
          release: '{% get_env_var "SENTRY_RELEASE" %}',
          environment: '{% get_env_var "SENTRY_ENVIRONMENT" %}'
        });
      });
    </script>

    {% block scripts %}
    {% endblock scripts %}

  </body>
</html>
