{% extends '_base.html' %}
{% load bootstrap4 %}
{% load app_tags %}
{% load static %}

{% block title %}Board Meetings{% endblock title %}

{% block content %}
  <section class='my-5'>
    <h2>
      Board Meetings 21-22 School Year
    </h2>
  </section>
  <section class='my-5'>
    <p class='lead'>
      Review past Board Meetings
    </p>
    <table class='table'>
      <thead>
        <tr>
          <th>
            Date
          </th>
          <th>
            Agenda
          </th>
          <th>
            Transcript*
          </th>
          <th>
            Minutes
          </th>
        </tr>
      </thead>
      <tbody>
        {% comment %}
        <tr>
          <td>
            June 13, 2022
          </td>
          <td>
            {# <a href=''>Agenda</a> #}
          </td>
          <td>
            {# <a href=''>Transcript</a> #}
          </td>
          <td>
            {# <a href=''>Minutes</a> #}
          </td>
        </tr>
        {% endcomment %}
        <tr>
          <td>
            May 23, 2021
          </td>
          <td>
            <a href='https://www.westada.org/Page/169#calendar131/20220521/event/796426'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/jGS6G9ykarasIanG_45tql_qhl9h-u5luoLd6kcj5aVrkXisGWdY36KOuE2u4mwi_0qHMTBg4ck21CTICcfD_5Z1rLI?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            {# <a href=''>Minutes</a> #}
          </td>
        </tr>
        <tr>
          <td>
            May 10, 2022
          </td>
          <td>
            <a href='https://www.westada.org/Page/169#calendar131/20220516/event/815706'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/NQ19eW7qUi3-vogUz89h7YXgS1RIpJnhEMA9vaP9kNntvKua_lubSbDYhDpsOeB1MrPgdAWddfliQfZdjSnvWM1vj1E?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/Domain/79/Regular%20Board%20Meeting%20-%2005-10-2022%20-%20Meeting%20Minutes.pdf'>Minutes</a>
          </td>
        </tr>
        <tr>
          <td>
            April 25, 2022
          </td>
          <td>
            <a href='https://www.westada.org/Page/169#calendar131/20220425/event/796424'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/cRCS3BIkLVbhDK149UPmLca_RHVUXJT_Ajtwfd1ObNsgFp83U-F2jycVzaBUKyzkt7U98V08rW8-aojTlYfw_UndGu4?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/Domain/79/Regular%20Board%20Meeting%20-%2004-25-2022%20-%20Meeting%20Minutes.pdf'>Minutes</a>
          </td>
        </tr>

        <tr>
          <td>
            April 11, 2022
          </td>
          <td>
            <a href='https://www.westada.org/Page/2#calendar1/20220409/event/796423'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/to_0jJ1YQ8Sls3swQ15MASjMZTw0lHkY6DRTwNAr5X6XmyiIzxMPA3Ou5YXksZGh_qSIpu1hsH4j4z2dZDkqINHMe7M?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/Domain/79/Regular%20Board%20Meeting%20-%2004-11-2022%20-%20Meeting%20Minutes.pdf'>Minutes</a>
          </td>
        </tr>
        <tr>
          <td>
            March 29, 2022
          </td>
          <td>
            <a href='https://www.westada.org/Page/169#calendar131/20220329/event/808551'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/5Sh7x4hXKqRE1XJzl7U03EE3pDYf_kk8VE6AT1eqqZRsI3wntEEqypxmRTA_CigygRGz-NPfH5Di-KDdY-9-kf1N6yM?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/Domain/79/Special%20Meeting%20-%2003-29-2022%20-%20Meeting%20Minutes.pdf'>Minutes</a>
          </td>
        </tr>
        <tr>
          <td>
            March 16, 2022
          </td>
          <td>
            <a href='https://www.westada.org/Page/169#calendar131/20220318/event/808549'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/lbQG47lE4UqMzxg2szyky2WiivTgkkyLPrUPCXQoO3Fn3ncyQoue_TgJiIEXeKuVDoC0MeLQfP9qqNHwqDYNCGJCelI?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/Domain/79/Special%20Meeting%20-%2003-16-2022%20-%20Meeting%20Minutes.pdf'>Minutes</a>
          </td>
        </tr>
        <tr>
          <td>
            March 14, 2022
          </td>
          <td>
            <a href='https://www.westada.org/Page/169#calendar131/20220311/event/796422'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/lIxzuCRXQOrjApWHb_FH1Wvb2E3IeXqhxrnbk-yUZVD9CIaG3xnDHPIB11DoMKdrBejgPFW7SwTcirCJbZophJrqvpY?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/Domain/79/Regular%20Board%20Meeting%20-%2003-14-2022%20-%20Meeting%20Minutes.pdf'>Minutes</a>
          </td>
        </tr>
        <tr>
          <td>
            February 28, 2022
          </td>
          <td>
            <a href='https://www.westada.org/Page/169#calendar131/20220228/event/807888'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/vP1LXeZa-gFjH01fJflzgGrD8pmUxNvPuRM2zUo1ss3Aw_QHgddy3xMcCK-9ujvLlIug0rL_sHEnWUutxw5i_WsLDHw?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/Domain/79/Regular%20Board%20Meeting%20-%2002-28-2022%20-%20Meeting%20Minutes.pdf'>Minutes</a>
          </td>
        </tr>
        <tr>
          <td>
            February 18, 2022
          </td>
          <td>
            <a href='https://www.westada.org/Page/169#calendar131/20220221/event/807276'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/Gyp_qX8ocGuG5X3vwTDMXUd9_hZ0bY4Gp9sdnF_HPmXedos_Y5I-h_XgxFwQ1MvTY30a1fmOlSy7yHpApAlolg2D7d8?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/Domain/79/Special%20Board%20Meeting%20-%2002-18-2022%20-%20Meeting%20Minutes.pdf'>Minutes</a>
          </td>
        </tr>
        <tr>
          <td>
            February 14, 2022
          </td>
          <td>
            <a href='https://www.westada.org/Page/169#calendar131/20220214/event/806513'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/f6ukVhte3Cq28_RGIHWsPgfCi0HbQv-QJxG2DnX1o46UHdWxpLEVbhpY3NeYN8SO6n7G2t-V1rbF22tdQjBka-s5w-Y?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/Domain/79/Regular%20Board%20Meeting%20-%2002-14-2022%20-%20Meeting%20Minutes.pdf'>Minutes</a>
          </td>
        </tr>

        <tr>
          <td>
            January 24, 2022
          </td>
          <td>
            <a href='https://www.westada.org/Page/169#calendar131/20220124/event/797174'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/DQuIzbrHXwHpWQWOp93-HaaWys5bJuHFP43XX5yJUxmUYZgR2IlaU5P4TMgFIgEdkY5F_C_tW9ZowffQ7u5O8L_ZxPk?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/Domain/79/Regular%20Board%20Meeting%20-%2001-24-2022%20-%20Meeting%20Minutes.pdf'>Minutes</a>
          </td>
        </tr>
        <tr>
          <td>
            January 10, 2022
          </td>
          <td>
            <a href='https://www.westada.org/Page/169#calendar131/20220120/event/795401'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/dg8IccxUaHDu13m9TdbLOnO8PJDWSiphbgrEghQtxsCVfVI6SQwB4NO9qDRuYz4WIo4OGurSOyEru2EkEJ7Hg54wQd8?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/domain/79/board%20agendas/2022/1-24-22/Regular%20Board%20Meeting%20-%2001-10-2022%20-%20Meeting%20Minutes.pdf'>Minutes</a>
          </td>
        </tr>
        <tr>
          <td colspan=5 class='text-center'>
            (New Board Composition)
          </td>
        </tr>
        <tr>
          <td>
            December 13, 2021
          </td>
          <td>
            <a href='https://www.westada.org/site/Default.aspx?PageID=2&DomainID=4#calendar1/20211213/event/772983'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/m41eS0JssfuQz30UK-kUiwSpwAaSWG1pPo4VfJ_g3g81MFi-zNNyC_yJelNJCJnw5vhaleZ2qtUkPXDA2bLnAgi1pwc?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/domain/79/board%20agendas/2022/1-10-22/Regular%20Board%20Meeting%20%20-%2012-13-2021%20-%20Meeting%20Minutes.pdf'>Minutes</a>
          </td>
        </tr>
        <tr>
          <td>
            November 15, 2021
          </td>
          <td>
            <a href='https://www.westada.org/Page/169#calendar131/20211123/event/772982'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/_SHTH_KOw0_cj1gacsY8yKb_VDXn02SIAmNY_5cQ2GFBakkKpf8BZ73yIHVY98s-hDB6l3kmpt8cC_xh4MZTInNSsYI?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/domain/79/board%20agendas/2021/12-13-21/November%2015%202021%20Minutes.pdf'>Minutes</a>
          </td>
        </tr>
        <tr>
          <td>
            November 11, 2021
          </td>
          <td>
            <a href='https://www.westada.org/site/Default.aspx?PageID=2&DomainID=4#calendar1/20211115/event/791399'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/IYkzxPicWbjCkPBYtLwUqjBnGs2V6vrjgBOQRFMx6R3U-pfuHrg6xF-K_nj0kkEXOTjwnnli_KaDEjYVvLJ6UTjYb0o?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/domain/79/board%20agendas/2021/12-13-21/November%2011%202021%20Minutes.pdf'>Minutes</a>
          </td>
        </tr>
        <tr>
          <td>
            October 25, 2021
          </td>
          <td>
            <a href='https://www.westada.org/Page/2#calendar1/20211025/event/772981'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/FxO4Hq_GG_k_eFTu6W_bsQnqxmd2TSauh_ifGFSKONf370fyZLjm069NAQsn8R2y-0Hcc4QfRenPxLJe9sWcIyV0ah8?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/Domain/79/Board%20Agendas/2021/11_15_21/October%2025%20meeting%20notes.pdf'>Minutes</a>
          </td>
        </tr>
        <tr>
          <td>
            October 13, 2021
          </td>
          <td>
            <a href='https://www.westada.org/Page/2#calendar1/20211025/event/786253'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/cbZIXIR0NiACpFtRupwwoee7gb1f4qCbhF7NZlYSoqCZ_X2RVDWGKAlJ--I6r_0t_-FbcIr9G53jAq3GEu-otMLyY38?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/Domain/79/Board%20Agendas/2021/11_15_21/October%2013%20meeting%20notes.pdf'>Minutes</a>
          </td>
        </tr>
        <tr>
          <td>
            October 11, 2021
          </td>
          <td>
            <a href='https://www.westada.org/Page/2#calendar1/20211025/event/772980'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/IoM3ceqS1ZiYaP2FCp1kVDbsLs2IhBrz2FNCoezyA8u84ZVjF_oafVBtyRhmJC_C8RjuD8EKx0L_a21_oeY6gyXmPGM?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/Domain/79/Board%20Agendas/2021/10_25_21/Min.%20101121.pdf'>Minutes</a>
          </td>
        </tr>
        <tr>
          <td>
            September 27, 2021
          </td>
          <td>
            <a href='https://www.westada.org/Page/2#calendar1/20210925/event/772979'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/Bi3qxUjUTTZzrveEIyLK3cPM-7euWzDk8aTpoBwBQL59oPSzrjmV3w9y-gx2jtuRtdjASgsPweXtRkDrPBPGwZxFHFE?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/Domain/79/Board%20Agendas/2021/10_11_21/min%20092821.pdf'>Minutes</a>
          </td>
        </tr>
        <tr>
          <td>
            September 8, 2021
          </td>
          <td>
            <a href='https://www.westada.org/Page/2#calendar1/20210925/event/779692'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/NdmpsuyNtE8Num8Ifxr8geebMeRfKO5MwWtKjh31nDV-w5cmTNUXdrfU0XMJx5gtukVYzuA-GYw-XcQeNAu0RmhSB0k?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/Domain/79/Board%20Agendas/2021/09_27_21/min%20080821.pdf'>Minutes</a>
          </td>
        </tr>
        <tr>
          <td>
            August 24, 2021
          </td>
          <td>
            <a href='https://www.westada.org/Page/2#calendar1/20210825/event/772977'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/XMO9GOuzANz2RTfVWEciyofRBCk4fzknLRpIHMAPRuxvIXw0NfQTvuPh64hcx-iCzA9bpi8Q1Ojjhs8HggnrXfzyzfo?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/Domain/79/Board%20Agendas/2021/09_08_21/min%20082421.pdf'>Minutes</a>
          </td>
        </tr>
        <tr>
          <td>
            August 10, 2021
          </td>
          <td>
            <a href='https://www.westada.org/Page/2#calendar1/20210825/event/772976'>Agenda</a>
          </td>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/hFkW92O-G1mZfF8MLNM02kJ8TKYW3YAFYC6K1hYbobT-9X6gbIwvLHluBFgEcuLav0avAL_-Q4AGbi1P4KkauQbT1Q0?loadFrom=SharedLink'>Transcript</a>
          </td>
          <td>
            <a href='https://www.westada.org/cms/lib/ID01904074/Centricity/Domain/79/Board%20Agendas/2021/08_24_21/min%20081021.pdf'>Minutes</a>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class='my-5'>
    <p class='lead'>
      <strong>*Note:</strong> These are machine-generated transcripts; as such, they may contain errors of omission or translation.  Please refer to the source video for clarification when necessary.
    </p>
  </section>
{% endblock content %}
