<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% load app_tags %}
{% load humanize %}
{% load cloudinary %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{%  static 'app/favicon.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">
  </head>

  <style type="text/css">

  </style>
  <br><br>
  <section>
    {% cloudinary account.picture.name AVATAR %}
    <h2>
      Letter from {{comment.account.name}}{% if comment.account.is_spouse %} and Spouse{% endif %}
    </h2>

  </section>
  <br><br>

  <section class='col-10'>
    <p class='lead'>
      {{comment.created|date:"F j, Y"}}
      <br>
      <br>

      Superintendent Derek Bub<br>
      West Ada School District<br>
      1303 East Central Drive<br>
      Meridian, ID  83642<br>
    </p>
    <br><br>
    <h3>
      Dear Superintendent Bub,
    </h3>
    <br><br>
    {% if comment.content|length > 500 %}
      <p>
        {{comment.content}}
      </p>
    {% else %}
      <h3>
        {{comment.content}}
      </h3>
    {% endif %}
    <br><br>
    <br><br>
    <h3>Sincerely,
    </h3>
    <br><br>
    <p style="font-size: xx-large; font-family: 'Homemade Apple', cursive">
      {{comment.account.name}}
    </p>
    <br><br>
    {% if comment.account.students.count %}
    <p class='lead'>
      Parent of:<br>
      {% for student in comment.account.students.all %}
          {{ student.school.full }} {{student.ord|default:"" }} Grade<br>
      {% endfor %}
    {% endif %}
  </section>
  <div style = "display:block; clear:both; page-break-after:always;"></div>
  </body>
</html>

