{% extends 'base.html' %}

{% block title %}About{% endblock title %}


{% block content %}

  <section class='my-5'>
    <h2>
      About
    </h2>
  </section>
  <section class='my-5'>
    <div class='col-lg-8'>
      <p>
        The West Ada Parents Association is a community of well-informed citizens who support educational excellence and work in partnership with the school community to achieve quality educational results for all students.
      </p>
    </div>
  </section>
{% endblock content %}
