{% extends '_base.html' %}

{% block title %}Dashboard{% endblock title %}


{% block content %}
  <section class='my-5'>
    <h2>
      Dashboard
    </h2>
  </section>
  <section class='my-5'>
    <a href='{% url "comments" %}' class='btn btn-lg btn-success'>New &mdash; Tell Dr. Bub what you think about reinstating the Mask Mandate</a>
  </section>
  <section class='my-5'>
    <div class='col-lg-12'>
      <div class='card'>
        <h4 class='card-header'>Site Metrics</h4>
        <div class="card-body">
          <div class='card-title'>
          </div>
          <div class='card-text'>
            <dl class="row">
              <dt class="col-sm-4">
                Total Members
              </dt>
              <dd class="col-sm-8">
                {{METRICS.members}}
              </dd>
              <dt class="col-sm-4">
                Total Comments
              </dt>
              <dd class="col-sm-8">
                {{METRICS.comments}}
              </dd>
              <dt class="col-sm-4">
                Students Represented
              </dt>
              <dd class="col-sm-8">
                {{METRICS.students}}
              </dd>
              <dt class="col-sm-4">
                Schools Represented
              </dt>
              <dd class="col-sm-8">
                59/59
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='my-5'>
    <div class='col-lg-12'>
      <div class='card'>
        <h4 class='card-header'>Account&nbsp;&nbsp;<a href='{% url "account" %}' class='btn btn-primary btn-sm'>Update</a></h4>
        <div class="card-body">
          <div class='card-title'>
          </div>
          <div class='card-text'>
            <dl class="row">
              <dt class="col-sm-4">
                Full Name
              </dt>
              <dd class="col-sm-8">
                {{account.name}}
              </dd>

              <dt class="col-sm-4">
                Listed Publicly?
              </dt>
              <dd class="col-sm-8">
                {{account.is_public|yesno|title}}
              </dd>
              <dt class="col-sm-4">
                Representing Spouse?
              </dt>
              <dd class="col-sm-8">
                {{account.is_spouse|yesno|title}}
              </dd>
              <dt class="col-sm-4">
                Students
              </dt>
              <dd class="col-sm-8">
                {% for student in account.students.all %}
                  {{student.school.name}}, {{student.get_grade_display}}<br>
                {% empty %}
                  (No Students in District Schools)
                {% endfor %}
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='my-5'>
    <div class='col-lg-12'>
      <div class='card'>
        <h4 class='card-header'>District Information</h4>
        <div class="card-body">
          <div class='card-title'>
          </div>
          <div class='card-text'>
            <dl class="row">
              <dt class="col-sm-4">
                Zone
              </dt>
              <dd class="col-sm-8">
                {{account.zone.name}}
              </dd>
              <dt class="col-sm-4">
                Trustee Representative
              </dt>
              <dd class="col-sm-8">
                <a href='mailto:{{account.trustee_email}}'>{{account.trustee_name}}</a>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class='my-5'>
    <div class='col-lg-12'>
      <div class='card'>
        <h4 class='card-header'>Comments&nbsp;&nbsp;<a href='{% url "comments" %}' class='btn btn-primary btn-sm'>Update</a></h4>
        <div class="card-body">
          <div class='card-title'>
          </div>
          <div class='card-text'>
            <dl class="row">
              <dt class="col-sm-4">
                Current on Comments?
              </dt>
              <dd class="col-sm-8">
                {% if is_current %}
                  Yes!  Thank You for Being Involved
                {% else %}
                  <a role='button' class='btn-success btn btm-small' href='{% url "comments" %}'>Make a New Comment</a>
                {% endif %}
              </dd>
              <p class='my-5'>
              </p>
              {% for comment in comments %}
                <dt class="col-sm-4">
                  Recipient
                </dt>
                <dd class="col-sm-8">
                  {{comment.issue.recipient_name}}
                </dd>
                <dt class="col-sm-4">
                  Issue
                </dt>
                <dd class="col-sm-8">
                  {{comment.issue}}
                </dd>
                <dt class="col-sm-4">
                  Date Sent
                </dt>
                <dd class="col-sm-8">
                  {{comment.created}}
                </dd>
                <dt class="col-sm-4">
                  Content
                </dt>
                <dd class="col-sm-8 mb-5">
                  {{comment.content}}
                </dd>
              {% empty %}
                (No comments.)
              {% endfor %}
            </dl>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% comment %}
  <section class='my-5'>
    <div class='col-lg-8'>
      <div class='card'>
        <h4 class='card-header'>Events</h4>
        <div class="card-body">
          <div class='card-title'>
          </div>
          <div class='card-text'>
            {% for attendee in attendees %}
              <dl class="row">
                <dt class="col-sm-4">
                  Event
                </dt>
                <dd class="col-sm-8">
                  {{attendee.event}}
                </dd>
                <dt class="col-sm-4">
                  Date
                </dt>
                <dd class="col-sm-8">
                  {{attendee.event.datetime}}
                </dd>
                <dt class="col-sm-4">
                  Location
                </dt>
                <dd class="col-sm-8">
                  {{attendee.event.location}}
                </dd>
                <dt class="col-sm-4">
                  Attending?
                </dt>
                <dd class="col-sm-8">
                  {{attendee.is_confirmed|yesno|title}}
                </dd>
              </dl>
            {% empty %}
              (No RSVPs for any Events.)
            {% endfor %}
          </div>
        </div>
        <div class='card-footer'>
          Attending Events?  <a href='{% url "events" %}'>Click to RSVP</a>
        </div>
      </div>
    </div>
  </section>
  {% endcomment %}
  <section class='my-5'>
    <div class='col-lg-12'>
      <div class='card'>
        <h4 class='card-header'>Quarantine Story&nbsp;&nbsp;<a href='{% url "story" %}' class='btn btn-primary btn-sm'>Update</a></h4>
        <div class="card-body">
          <p class='card-text'>
            {% if account.story %}
              {{account.story}}
            {% else %}
              No story provided.
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
