{% extends '_base.html' %}

{% load static %}
{% block title %}Events{% endblock title %}


{% block content %}
  {% comment %}
  <section class='my-5'>
    <h2>
      Upcoming Events
    </h2>
  </section>

  <section class='my-5'>
    <div class='col-lg-8'>
      <p class='lead'>
        Following is a list of upcoming West Ada Parent events.  Click to RSVP.
      </p>
    </div>
  </section>
  {% endcomment %}

  <section class='my-5 col-md-12'>
    <div class='card'>
      <h4 class='card-header'>Events</h4>
      <div class="card-body">
        <table class='table table-sm table-hover'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Date</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
            {% for event in events %}
              <tr>
                <td><a href='{% url "event" event.id %}'>{{event.name}}</a></td>
                <td>{{event.datetime}}</td>
                <td>{{event.location}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock content %}
