{% extends '_base.html' %}
{% load static %}
{% load cloudinary %}

{% block title %}{% endblock title%}

{% block content %}
    <div class='jumbotron'>
      <section class='p-3'>
        <p>
          With deepest sadness we must share that Mike McCrady, beloved Rocky Mountain High School teacher and parent, has lost his battle with Covid-19.
        </p>
        <p>
          We hope you can take a moment and focus your attention to the McCrady family: his wife Angie, and daughters Raegan and Kyra.  Their faith is strong, but Mike was taken too soon from them and your prayers can only help in their time of loss.
        </p>
        <p>
          Beyond that, if you’re able to provide financial assistance, you can Venmo <a href='https://venmo.com/angie-mccrady'>@Angie-McCrady</a> directly. If prompted, the four-digit confirmation code is 7203.  And if you have problems or can help in other ways, contact Ashley Locke at 208.695.4328.
        </p>
        <p>
          To the McCrady family and all who were touched by this amazing man, our deepest condolences.  Rest in Peace.
        </p>
      </section>
    </div>
{% endblock content %}
