{% extends '_base.html' %}
{% load static %}
{% load cloudinary %}

{% block title %}{% endblock title%}

{% block content %}
  <section class='jumbotron'>
    {% comment %}
    <div class='wistia mb-3'>
        <script src="https://fast.wistia.com/embed/medias/vf6zi89kl5.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_vf6zi89kl5 popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span></div></div>
    </div>
    {% endcomment %}
    <section class='px-5 py-2'>
      <h3 class='mb-3'>
        New Leadership for WAPA
      </h3>
      <p>
        Given my new position as School Board Trustee I’ve been seeking a replacement to lead the West Ada Parents Association. And while it’s taken me longer than expected to accomplish that goal, I’m nonetheless excited to announce that Jared Lucas will be taking things over from here.
      </p>
      <p>
        Jared fought hard for our kids from the beginning, with a clear, level-headed and unwavering dedication to the cause. Few have done as much as he to bring about normalcy in West Ada, and I can think of no better person to lead WAPA moving forward. I’m so appreciative he’s agreed to take the reins.
      </p>
      <p>
        Jared’s voice and style are different that mine, but he does intend to maintain most of the same priorities: keeping parents updated through the newsletter, helping individual parents on school matters, and holding our Board Members accountable (and yes, that includes me most of all.)  <a href='{% url "login" %}'>Join us</a> for access to this and more.
      </p>
      <p>
        It's been an honor to lead WAPA for the past year, and I'm excited for this next chapter to unfold.  Thank you Jared!  I know you will do great things with WAPA moving forward.
      </p>
      <br>
      <p>
        <strong>David Binetti</strong><br>
        <strong>Founder, West Ada Parents Association</strong>
      </p>
      <br>
    </section>
    <a href='{% url "login" %}' class="btn btn-success btn-block btn-lg p-3 shadow-lg">
      Click to <strong>Join <span id='member-count'></span> Parents<br>in the West Ada Parents Association</strong>
    </a>
    {# <a class="btn btn-outline-dark btn-lg btn-block mt-3" data-toggle="collapse" href="#readmore" role="button" aria-expanded="false" aria-controls="collapseExample"> #}
      {# Read More #}
    {# </a> #}
  </section>


  {% if issue %}
    <section class='m-3'>
      <table class='table'>
        <thead>
          <tr class='row'>
            <th scope='col' class='col-5'>Name</th>
            <th scope='col' class='col-7'>Comments</th>
          </tr>
        </thead>
        <tbody>
          {% for comment in comments %}
            <tr class='row'>
              <td class='col-5'>
                <ul class='list-inline'>
                  <li class='list-inline-item align-top'>
                    {% cloudinary comment.account.picture.name AVATAR %}<br>
                  </li>
                  <li class='list-inline-item'>
                    <strong>{{comment.account.name}}</strong><br>
                    {% for student in comment.account.students.all %}
                      {% if student.school.get_kind_display == 'Elementary School' %}
                        <span class='badge badge-danger badge-pill'>{{ student.school.name }} {{student.ord|default:"" }}</span><br>
                      {% elif student.school.get_kind_display == 'Middle School' %}
                        <span class='badge badge-success badge-pill'>{{ student.school.name }} {{student.ord|default:"" }}</span><br>
                      {% elif student.school.get_kind_display == 'High School' %}
                        <span class='badge badge-info badge-pill'>{{ student.school.name }} {{student.ord|default:"" }}</span><br>
                      {% endif %}
                    {% endfor %}
                  </li>
                </ul>
              </td>
              <td class='col-7'>
                {% if comment.wordcount < 60 %}
                  {{comment.content}}
                {% else %}
                  <div class="collapse show" id="comment-{{comment.id}}">
                    {{comment.content|truncatewords:60}}
                  </div>
                  <div class="collapse" id="comment-{{comment.id}}">
                    {{comment.content}}
                  </div>
                  <a data-toggle="collapse" href="#comment-{{comment.id}}"><small>more</small></a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  {% endif %}
{% endblock content %}
{% block scripts %}
  <script>
    const obj = document.getElementById("member-count");
    function animateValue(obj, start, end, duration) {
      let startTimestamp = null;
      let step = (timestamp) => {
        if (!startTimestamp) startTimestamp = timestamp;
        let progress = Math.min((timestamp - startTimestamp) / duration, 1);
        obj.innerHTML = Math.floor(progress * (end - start) + start);
        if (progress < 1) {
          window.requestAnimationFrame(step);
        }
      };
      window.requestAnimationFrame(step);
    };
    animateValue(obj, 0, '{{METRICS.members}}', 2500);
  </script>
{% endblock scripts %}
