{% extends '_base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load app_tags %}
{% load cloudinary %}

{% block title %}The WASD Quarantine Release process{% endblock title %}

{% block content %}
    <section class="col-md-8 my-5" id="truenorth">
      <h3 class='my-3'>
        WASD Quarantine Release Process
      </h3>
      <p>
        You can read the full <a href='https://www.westada.org/domain/11845'>Safe Return to In-Person Instruction Plan</a> for yourself, but I’ve produced a quick flow chart of the quarantine process below which makes it easier to follow:
      </p>
      <img src='{% static "app/board_plan_8_24.png" %}' class='img-fluid my-3'>
      <p>
        Basically, the left side of the flow chart is geared towards those who are vaccinated, follow the mandate, or can provide proof of a prior recovery. The right side is for students who opt-out. And while the process is complicated, the bottom line is: if you follow the mandate, you stay in school. Opt-out of the mandate, and you stay home for ten days and skip sports when exposed &mdash; and everyone will be exposed eventually, many times this year.
      </p>
      <p>
        As you know, the West Ada Parents Association saw this coming and proposed a <a href='{% url "plan" %}'>Parents Plan</a> to avoid this “back-door mandate”.  Still, the Board decided otherwise, and that’s why the more than 12,000 parents who filled out the opt-out form, drove the district office on short notice, waited in line, and submitted their form with identification in-person are going to be very surprised when they learn their kids are still going to miss school and sports unless they give up their Parental Choice.
      </p>
      <p class='lead my-3'>
        In short, this is a deliberate policy of segregation by the West Ada School District, and it must change immediately.  If you haven't already done so, please  <a href='{% url "join" %}'>join us</a> and support full and equal access to education for all students.
      </p>
    </section>
    <section class='my-5'>
      <ul class='list-inline'>
        <li class='list-inline-item'>
          {% bootstrap_button "Share on Facebook" button_type='link' size='large' button_class='btn-primary' extra_classes='ml-3 mt-3' id='facebook-share-button'%}
        </li>
        <li class='list-inline-item'>
          {% bootstrap_button "Share via Text" button_type='link' size='large' button_class='btn-success' extra_classes='ml-3 mt-3' id='text-share-button'%}
        </li>
      </ul>
    </section>

{% endblock %}

{% block scripts %}
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId            : '{% get_env_var "FACEBOOK_CLIENT_ID" %}',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v11.0'
      });
    };
  </script>
  <script>
    const FBbutton = document.querySelector('#facebook-share-button');
    FBbutton.addEventListener('click', async () => {
      FB.ui({
        method: "share",
        title: "The WASD Quarantine Process",
        href: "https://www.westadaparents.com/quarantine",
      }, function(response){});
    });
  </script>

  <script>
    const toShare = {
      // text: "{{comment.content|escapejs}}",
      text: "The WASD Quarantine Process",
      url: "https://www.westadaparents.com/quarantine",
    };
    const button = document.querySelector('#text-share-button');
    button.addEventListener('click', async () => {
      try {
        await navigator.share(toShare); // Will trigger the native "share" feature
        button.textContent = 'Thank You -- Share Again!';
      }
      catch(err) {
        Sentry.captureException(err);
        $("#text-share-button").replaceWith( "<p class='align-middle ml-3 mt-3'>Copy/Paste '<strong>https://www.westadaparents.com/quarantine</strong>' in your Text or Email</p>" );
      }
    });
  </script>
{% endblock scripts %}