{% extends '_base.html' %}
{% load bootstrap4 %}
{% load app_tags %}
{% load static %}

{% block title %}Parent Resources{% endblock title %}



{% block content %}
  <section class='my-5'>
    <h2>
      Parent Resources
    </h2>
  </section>
  <section class='my-5 col-lg-8'>
    <p class='lead'>
      Below is a list of parent resources related to the West Ada School District's Covid-19 policies.
    </p>
    <div class='table-responsive'>
      <table class='table table-borderless'>
        <tr>
          <td>
            <a href='{% static "app/Trustee_Johnson_Complaint.pdf" %}'>Trustee Johnson Complaint to Vice-Chair Rene Ozuna</a>
          </td>
          <td>
            The formal complaint calling for a full, fair, and independent investigation into Amy Johnson's Conflict of Interest.
          </td>
        </tr>
        <tr>
          <td>
            <a href='{% static "app/deputy_ag_brian_kane_letter.pdf" %}'>Chief Deputy Brian Kane's Opinion</a>
          </td>
          <td>
            The Attorney General Office's preemptive clearance of Amy Johnson, made at her request.
          </td>
        </tr>
        <tr>
          <td>
            <a href='{% static "app/no_jurisdiction_ag.pdf" %}'>No Jurisdiction Letter</a>
          </td>
          <td>
            The prior letter indicating the Attorney General has no jurisdiction over conflict of interest matters in West Ada.
          </td>
        </tr>
        <tr>
          <td>
            <a href='https://www.slideshare.net/westadaconcernedpare/west-ada-isat-scores-2021'>ISAT Analysis</a>
          </td>
          <td>
            A detailed analysis of the ISAT scores from 2019 to 2021 for the West Ada School District.
          </td>
        </tr>
        <tr>
          <td>
            <a href='https://soundcloud.com/user-773986753/board-questions-in-depth-review'>Audio Review</a><br>
            <a href='https://westadaparents.wistia.com/medias/wpu1j6irp0'>Video Review</a>
            <a href='https://www.rev.com/transcript-editor/shared/Z31OMV1xLi4GGR0bc1VNwsjq2VAi_LntGdzIFU5jksyPXsL1jjxzKP2dIU9yNzUnxIezgswm7CkFsPiiSPWo7dY4PBc?loadFrom=SharedLink'>Written Review</a>
          </td>
          <td>
            An in-depth review of the Board Questions following Dr. Bub's revocation of the opt-out policy that reinstituted the district-wide mask mandate for all students.
          </td>
        </tr>
        <tr>
          <td>
            <a href='https://soundcloud.com/user-773986753/superintendent-review-audio'>Audio Review</a><br>
            <a href='https://westadaparents.wistia.com/medias/4jhnr712rv'>Video Review</a>
            <a href='https://www.rev.com/transcript-editor/shared/FZyLrloGMS1HcUn6_M1koirDcyqijv24GDufFe1jeEtAeAR708q5pr39xmkUSzm6wnquUk0ERkEaIPTd6xevhfTSdQo?loadFrom=SharedLink'>Written Review</a>
          </td>
          <td>
            An in-depth review of the Superintendent's Report where Dr. Bub revoked the opt-out, reinstating the
            district-wide mask mandate for all students.
          </td>
        </tr>
        <tr>
          <td>
            <a href='{% url "compare" %}'>Comparison Chart</a>
          </td>
          <td>
            A simple comparison chart of the WASD and WAPA plans.
          </td>
        </tr>
        <tr>
          <td>
            <a href='https://www.westada.org/domain/11845'>WASD Plan</a>
          </td>
          <td>
            The pandemic operating plan of the West Ada School District.
          </td>
        </tr>
        <tr>
          <td>
            <a href='{% url "plan" %}'>Parents Plan</a>
          </td>
          <td>
            The alternative approach proposed by the West Ada Parents Association.
          </td>
        </tr>
        <tr>
          <td>
            <a href='{% url "quarantine" %}'>WASD Quarantine Plan</a>
          </td>
          <td>
            The current quarantine release process as adopted by the Board on 8/24.
          </td>
        </tr>
        <tr>
          <td>
            <a href='{% url "truenorth" %}'>True North</a>
          </td>
          <td>
            The West Ada Parent Association's alternative quarantine release process.
          </td>
        </tr>
        <tr>
          <td>
            <a href='{% url "appeal" %}'>WASD Quarantine Appeal Process</a>
          </td>
          <td>
            The process by which quarantine notices may be appealed.
          </td>
        </tr>
        <tr>
          <td>
            <a href='https://www.rev.com/transcript-editor/shared/ZK7GzaBNyzUuzxSMAsq-K2QEUREyvm0etm7T5D25XB4sO1qDJh7SHd8LG2P1kiC4yFwJ_SUliJT8g4Z5dABTSSBBMn0?loadFrom=SharedLink'>Transcript of 8/24 Board Meeting</a>
          </td>
          <td>
            The transcript of the Board's August 24th meeting where the current opt-out and quarantine policies were adopted.
          </td>
        </tr>
      </table>
    </div>
  </section>
{% endblock content %}
