{% extends '_base.html' %}
{% load app_tags %}
{% load bootstrap4 %}

{% block robots %}
  <meta name="ROBOTS" content="NOINDEX" />
{% endblock robots %}

{% block styles %}
{% endblock styles %}

{% block content %}
  <section class='my-5 col-lg-12'>
    <h2>
      Voter Record Search
    </h2>
  </section>
  <section class='col-lg-6'>
    <form method='post' role='form'>
      {% csrf_token %}
      {% bootstrap_form_errors form %}
      <div class='input-group input-group-lg'>
        <input class='form-control' type='text' name='query' maxlength="200" required id='id_query'>
        <div class='input-group-append'>
          {% bootstrap_button "Search" button_type='submit' button_class='btn btn-success btn-lg' %}
        </div>
      </div>
    </form>
  </section>
  <section class='col-lg-12'>
    <table class='table table-borderless table-hover my-5'>
      <tbody>
        {% for result in results %}
          <tr class='py-3'>
            <td><a href='{% url "confirm" result.pk %}'>{{result.name}}&nbsp;&nbsp;&mdash;&nbsp;&nbsp;{{result.location}}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
