{% extends '_base.html' %}
{% load app_tags %}
{% load bootstrap4 %}

{% block robots %}
  <meta name="ROBOTS" content="NOINDEX" />
{% endblock robots %}

{% block styles %}
{% endblock styles %}

{% block content %}
  <section class='my-5 col-lg-12'>
    <h2>
      Voter Record Search
    </h2>
  </section>

  <section class='col-lg-6 my-3'>
    <p class='lead'>
      Make your voice more powerful by adding a <small class='badge badge-warning badge-pill'>Zone {{account.zone.num}} Voter</small> Badge to your Account.
    </p>
    <p>
      You can <a href='{% url "zone" %}'>skip this step</a> if you're not registered to vote.
    </p>
  </section>

  <section class='col-lg-6 my-5'>
    <form method='post' role='form'>
      {% csrf_token %}
      {% bootstrap_form_errors form %}
      <div class='input-group input-group-lg'>
        <input class='form-control' type='text' name='query' maxlength="200" required id='id_query' placeholder='Enter your legal name...' value='{{form.cleaned_data.query}}'>
        <div class='input-group-append'>
          {% bootstrap_button "Search" button_type='submit' button_class='btn btn-success btn-lg' %}
        </div>
      </div>
    </form>
  </section>

  <section class='col-lg-12'>
    {% if response %}
      <table class='table table-borderless table-hover my-5'>
        <tbody>
          {% for result in response.results %}
            <tr class='py-3'>
              <td><a href='{% url "confirm" result.pk %}'>{{result.name}}&nbsp;&nbsp;&mdash;&nbsp;&nbsp;{{result.location}}</a></td>
            </tr>
          {% empty %}
            <tr class='py-5'>
              <td class='my-5'>
                <p>
                  Sorry, we couldn't find your voter record!
                </p>
                <p>
                  Try searching again, <a href='mailto:support@westadaparents.com'>contact support</a>, or <a href='{% url "zone" %}'>skip this step</a>.
                </p>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </section>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
