{% extends '_base.html' %}
{% load app_tags %}

{% block styles %}
  <style>
    #result {
      border: 1px dotted #ccc;
      padding: 3px;
    }
    #result ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    #result ul li {
      padding: 5px 0;
    }
    #result ul li:hover {
      background: #eee;
    }
  </style>
{% endblock styles %}

{% block content %}
  <div class='form-control'>
    <form autocomplete="off">
      <input type="text" name="q" id="q" onKeyUp="showResults(this.value)" />
      <div id="result"></div>
    </form>
  </div>
{% endblock content %}

{% block scripts %}
  <script>
    function showResults(val) {
      res = document.getElementById("result");
      res.innerHTML = '';
      if (val == '') {
        return;
      }
      let list = '';
      fetch('{% get_env_var "VOTER_API_HOST" %}' + '/search?q=' + val, {
       headers: new Headers({
         'Authorization': 'Token ' + '{% get_env_var "VOTER_API_KEY" %}',
       })
      }).then(
       function (response) {
         return response.json();
       }).then(function (data) {
         for (i=0; i<data.results.length; i++) {
           list += '<li><a href="http://localhost:8000/confirm/' + data.results[i].pk +  '">'  + data.results[i].name + '</a></li>';
         }
         res.innerHTML = '<ul>' + list + '</ul>';
         return true;
       }).catch(function (err) {
         console.warn('Something went wrong.', err);
         return false;
       });
    }
  </script>
{% endblock scripts %}