{% extends '_base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load app_tags %}
{% load cloudinary %}

{% block opengraph %}
  <meta property="og:title" content="The True North Quarantine" />
  <meta property="og:image" content='{% static "app/true_north_plan.png" %}' />
  <meta property="og:image:secure_url" content='{% static "app/true_north_plan.png" %}' />
  <meta property="og:url" content="{% url 'truenorth' %}" />
  <meta property="og:type" content="website" />
  <meta property="fb:app_id" content="1236648860100768" />
  <meta property="og:description" content="Read the plan that keeps healthy kids in school." />
{% endblock opengraph %}


{% block title %}The True North Quarantine{% endblock title %}

{% block content %}
    <section class="col-md-8 my-5" id="truenorth">
      <h3 class='my-3'>
        The True North Quarantine Process
      </h3>
      <p class='lead mb-5'>
        Currently, the <a href='{% url "quarantine" %}'>WASD quarantine plan</a> sends kids home for ten days if they were unmasked at close contact exposure.  In contrast, the True North plan keeps students in school if they mask for ten days following exposure.  Essentially, masks work just as well before as after, and otherwise healthy kids should stay in school.
      </p>
      <p>
        To understand the name, some explanation: at the Board meeting Chair Amy Johnson articulated what she called her “North Star” principle for the District: <strong> the importance of full-time, in-person instruction for all students</strong> — which she assumed could be accomplished through a mask-mandate. However, that assumption was negated when her own invited guest, Dr. Souza of St. Luke’s, admitted that a mask-mandate can not provide such a guarantee. If someone were offered that promise, his frank advice was: “Run.”
      </p>
      <p>
        And Dr. Souza was not the only one who realized how untrustworthy Amy Johnson’s “North Star” promise was. Trustee Rusty Coffeldt submitted a motion supporting Dr. Bub’s proposal to allow mask-wearing for ten days as an alternative quarantine release method. After some excruciatingly difficult word-smithing of his motion more than five hours into the meeting and nearing midnight, it was rejected and they eventually decided on the approach that we have today.
      </p>
      <p>
        And that’s why we call our alternative the <strong>True North</strong> approach: because Chair Amy Johnson’s North Star principle to keep kids in school only extends to those who follow the mandate — and kids that don’t are sent home and sidelined. The <strong>True North</strong> approach doesn’t discriminate; it extends truly to all students, regardless of whether or not they follow the mandate or opt-out.
      </p>
      <p>
        While it is unclear just how much operational power the Board took away from the Superintendent at the last Board meeting, they did express he had authority to make changes as he saw fit. Now this will be incredibly difficult for him to do — after all, technically he answers to the Board — but with enough parent support he can do the right thing and stop this intensely divisive quarantine policy from going into full operation. For comparison to the above flowchart, this is what the <Strong>True North</Strong> process looks like:
      </p>
      <img src='{% static "app/true_north_plan.png" %}' class='img-fluid my-3'>
      <p>
        It’s simple to implement, doesn't segregate, and most importantly <strong>keeps healthy kids in school where they can continue to learn</strong>. You may feel that no-masks ever is the only acceptable policy and I respect your position; still, I believe the True North approach is a reasonable compromise which demonstrates clearly that we aren't against masks, but instead are for equal treatment of all students, regardless of their choice.
      </p>
      <p class='lead'>
        <a href='{% url "join" %}'>Join Us</a>, and tell the Superintendent:
        <ul class='list-unstyled'>
          <li>Keep Healthy Kids in School.</li>
          <li>Don’t Segregate the District. </li>
          <li><strong>Follow the True North.</strong></li>
        </ul>
      </p>
    </section>
  <section class='my-5'>
    <ul class='list-inline'>
      <li class='list-inline-item'>
        {% bootstrap_button "Share on Facebook" button_type='link' size='large' button_class='btn-primary' extra_classes='ml-3 mt-3' id='facebook-share-button'%}
      </li>
      <li class='list-inline-item'>
        {% bootstrap_button "Share via Text" button_type='link' size='large' button_class='btn-success' extra_classes='ml-3 mt-3' id='text-share-button'%}
      </li>
    </ul>
  </section>

{% endblock %}

{% block scripts %}
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId            : '{% get_env_var "FACEBOOK_CLIENT_ID" %}',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v11.0'
      });
    };
  </script>
  <script>
    const FBbutton = document.querySelector('#facebook-share-button');
    FBbutton.addEventListener('click', async () => {
      FB.ui({
        method: "share",
        title: "The WASD Quarantine Process",
        href: "https://www.westadaparents.com/truenorth",
      }, function(response){});
    });
  </script>

  <script>
    const toShare = {
      // text: "{{comment.content|escapejs}}",
      text: "The WASD Quarantine Process",
      url: "https://www.westadaparents.com/truenorth",
    };
    const button = document.querySelector('#text-share-button');
    button.addEventListener('click', async () => {
      try {
        await navigator.share(toShare); // Will trigger the native "share" feature
        button.textContent = 'Thank You -- Share Again!';
      }
      catch(err) {
        Sentry.captureException(err);
        $("#text-share-button").replaceWith( "<p class='align-middle ml-3 mt-3'>Copy/Paste '<strong>https://www.westadaparents.com/truenorth</strong>' in your Text or Email</p>" );
      }
    });
  </script>
{% endblock scripts %}