{% extends '_base.html' %}

{% block title %}13 November 2021{% endblock title %}


{% block content %}
    <section class="col-md-8 my-5" id="truenorth">
      <h3 class='my-3'>
        Mask Mandate Lifted
      </h3>
      <p>
<p>
  The Board lifted the mask mandate, effective November 29 (after the Thanksgiving Holiday week).  While obviously welcome news, it's worth remembering that we've been here before.  On June 15th the Board lifted the mask mandate -- only to have it return two days before school.  Then they voted to implement a mask opt-out program in August -- which they suspended two weeks later.  So now once again we're told that masks are done and we can get back to education.  Perhaps this time they won't reverse themselves, but there is reason to be wary because of how they reached their decision.
</p>
<p>
  To explain, Amy Johnson asked Superintendent Bub to put together an operational plan for masks-optional.  So Dr. Bub went out to all the nurses, conducted interviews with staff, and collected data from myriad sources, and put together a plan that he could execute.  But again, the Board rejected it because it was too specific with its benchmarks.  Instead, they wanted more "operational flexibility" to put the masks back on.  This is now the third time that the Board has overruled the person who is supposed to run the District and to whom they pledged full and complete support.
</p>
<p>
  And this has been the entire problem with Amy's Board since she took the Chairmanship -- they should not be making anything remotely close to operational decisions for the District.  It's not their job.  The Board is supposed to set policy and hire a Superintendent.   That's it.  If they don't like the job the Superintendent is doing they should find another, but it's simply impossible for a five-person committee that meets once every few weeks to run a school district of 40,000 students.  No well-functioning Board behaves this way in any organization anywhere.
</p>
<p>
  But even putting that aside, the decision itself was capricous: just two and half weeks earlier the Board decided to only revist the mandate only under one of three conditions:  crisis standards of care removed (they hadn't been), moderate communitity transmission (still at high), and two-shots of child vaccine availability plus the innoculation period (at least six weeks away.)  None of these conditions were met, and so it shouldn't have even been on the agenda.
</p>
<p>
  During discussion, the experts they invited reinforced that none of the criteria had been met.   But suddenly the "experts" no longer mattered.  Instead, they justified their decision by saying single-dose vaccine efficacy of 50% was good enough (which is wrong, by the way -- it's actually 92%, same as it was last year when they rejected that very same argument when we called for them to remove masks the last two weeks of school.)   In Amy Johnson's words, "As a parent with kids who've gotten a first shot I'm comfortable."  And that was that.
</p>
<p>
  Just think about that for a moment: for two years we've been told how our children need to suffer education loss for the sake of the public health guidelines, have been subjected to hours of testimony from medical professionals who explained "the science" to parents who themselves were not allowed to speak, have been called "bullies" for advocating for our children -- but in the end that all mattered was the personal comfort of the Board with their own kids.
</p>
<p>
  And even this was disingenous.  Because what happened in the meantime was Election Day -- and Amy Johnson can read a twenty point margin of victory better than anyone.  So after the drubbing they received it's fundamentally unsurprising that the masks came off next meeting.  But if they had listened to parents from the beginning then such a repudiation would never have been necessary.
</p>
<p>
  And this is why parents are skeptical.  Because it's never been about masks.  It's always been about the Public Trust.  And the constantly shifting reasoning, flip-flopping implementation, lack of responsiveness, and fundamental unwillingness to accept accountability has damaged that trust in ways not easily repaired.
</p>
<p>
  I'm sure they're hoping that parents will forget all this.  And who knows, they might be right.  After all, we got what we wanted, so why continue the fight?  And the answer is: because trust, once lost, is not easily restored.  The only way to do so is to accept responsibility for past errors in judgment, acknowledge missteps, and pledge to do better.
</p>

{% endblock %}

