{% extends '_base.html' %}
{% load bootstrap4 %}
{% load app_tags %}
{% load static %}


{% block opengraph %}
  <meta property="og:title" content="Steps to a Mask Exemption" />
  <meta property="og:image" content='{% static "app/exemption.png" %}' />
  <meta property="og:image:secure_url" content='{% static "app/exemption.png" %}' />
  <meta property="og:url" content="{% url 'index' %}" />
  <meta property="og:type" content="website" />
  <meta property="fb:app_id" content="1236648860100768" />
  <meta property="og:description" content="Information on Mask Exemptions for Monday, November 1" />
{% endblock opengraph %}


{% block title %}Mask Exemptions{% endblock title %}


{% block content %}
  <section class='my-5'>
    <h2>
      Mask Exemptions
    </h2>
  </section>
  <section class='my-5'>
    
    <p class='lead'>
      There is a simple three-step process to get a mask exemption for your child:
    </p>
  </section>
  <section class='my-5 col-lg-8'>
    <h4>
      Step One: Secure your Mask Exemption
    </h4>
    <p>
      You must receive documentation from a "medical provider" that grants an exemption which clearly indicates your child's name/birthdate, and the name/licensing authority of the provider.  No further explanation or diagnosis is required.
    </p>
    <p>
      <strong>The medical provider does NOT need to be a medical doctor.</strong>
    </p>
    <p>
      The medical provider definition is outlined in <a href='https://legislature.idaho.gov/statutesrules/idstat/title39/t39ch77/sect39-7702/'>Title 39 of the Idaho Statute</a>, and includes the following health care professionals listed in <a href='https://legislature.idaho.gov/statutesrules/idstat/Title54/'>Title 54</a>:
    </p>
    <ul class='list-styled'>
      <li>Psychologists</li>
      <li>Nurses</li>
      <li>Speech Pathologists</li>
      <li>Audiologists</li>
      <li>Respiratory Therapists</li>
      <li>Dentists</li>
      <li>Orthodontists</li>
      <li>Chiropractors</li>
      <li>Optometrists</li>
      <li>Pharmacists</li>
      <li>Physical Therapists</li>
      <li>Acupuncturists</li>
      <li>Nutritionists</li>
      <li>Massage Therapists</li>
      <li>Athletic Trainers</li>
      <li>Midwifes</li>
      <li>Physicians</li>
      <li>Physician Assistants</li>
    </ul>
    <p>
      <strong>Again, the medical provider need not be a physician.</strong>  They need only fall into one of above categories and be currently licensed by the State of Idaho.  Medical exemptions have already been accepted from chiropractors, nurses, and child psychologists among others.
    </p>
    <p>
      When contacting the provider, be clear that you're seeking a mask exemption letter.  You may be required to have an in-person examination and pay for the visit.  Let the provider know that <a href='https://www.cdhd.idaho.gov/dac-coronavirus-order#collapse-4'>CDH guidelines</a> indicate that an exemption can be granted on either "medical or mental health" needs, but no formal explanation or diagnosis should be included in the document itself.  Moreover, HIPAA restrictions forbid any inquiry into the underlying assessment; the school nurse is not allowed to share the letter with outside third parties.
    </p>
    <p>
      Here is an <a href='{% static "app/redacted_exemption.pdf" %}'>example exemption</a> that was successfully filed.
    </p>
    <p>
      You can also provide this <a href='{% static "app/exemption_form_word.docx" %}'>Word Document</a> to the medical provider as a base template for them to fill out.
    </p>
  </section>
  <section class='my-5 col-lg-8'>
    <h4>
      Step Two: File your Exemption with the School Nurse
    </h4>
    <p>
      Your exemption should be filed via email with the School Nurse to take immediate effect.  Simply send the nurse an email with your exemption attached, and that's that.  Do not send the exemption to the school administrators; these are medical concerns managed by HIPAA rules regarding medical privacy.
    </p>
    <p>
      Remember that the nurses have a job to do beyond processing exemption forms; be patient, be kind, and be appreciative of their efforts.  This is a process, not a protest, and the nurses are just following West Ada policy.
    </p>
    <p>
      <a href='#' data-toggle='collapse' data-target='#nurselist'>Show Nurses</a>
    </p>
    <div class='collapse' id='nurselist'>
      <table class='table table-sm'>
        <thead>
        <th>
            School
        </th>
        <th>
            Email
        </th>
        </thead>
        <tbody>
          <tr><td>Andrus  </td><td><a href='mailto:maas.jackie@westada.org'>maas.jackie@westada.org</a></td></tr>
          <tr><td>Barbara Morgan  </td><td><a href='mailto:ebersole.shannon@westada.org'>ebersole.shannon@westada.org</a></td></tr>
          <tr><td>Centennial  </td><td><a href='mailto:redd.hillary@westada.org'>redd.hillary@westada.org</a></td></tr>
          <tr><td>Chapparal   </td><td><a href='mailto:cottrell.allison@westada.org'>cottrell.allison@westada.org</a></td></tr>
          <tr><td>Chief Joseph    </td><td><a href='mailto:Hamilton.bonnie@westada.org'>Hamilton.bonnie@westada.org</a></td></tr>
          <tr><td>Christine Donnell   </td><td><a href='mailto:Stephenson.lisa@westada.org'>Stephenson.lisa@westada.org</a></td></tr>
          <tr><td>Cross Roads Middle</td><td></td></tr>
          <tr><td>Desert Sage </td><td><a href='mailto:elia.maureen@westada.org'>elia.maureen@westada.org</a></td></tr>
          <tr><td>Discovery   </td><td><a href='mailto:malkin.missy@westada.org'>malkin.missy@westada.org</a></td></tr>
          <tr><td>Eagle Elementary    </td><td><a href='mailto:hanigan.anne@westada.org'>hanigan.anne@westada.org</a></td></tr>
          <tr><td>Eagle High  </td><td><a href='mailto:jarvis.bev@westada.org'>jarvis.bev@westada.org</a></td></tr>
          <tr><td>Eagle Hills </td><td><a href='mailto:Wehrer.andrea@westada.org'>Wehrer.andrea@westada.org</a></td></tr>
          <tr><td>Eagle Middle    </td><td><a href='mailto:hanigan.anne@westada.org'>hanigan.anne@westada.org</a></td></tr>
          <tr><td>Frontier    </td><td><a href='mailto:rowland.jenny@westada.org'>rowland.jenny@westada.org</a></td></tr>
          <tr><td>Galileo </td><td><a href='mailto:plaisted.erica@westada.org'>plaisted.erica@westada.org</a></td></tr>
          <tr><td>Heritage Middle </td><td><a href='mailto:williams.christina@westada.org'>williams.christina@westada.org</a></td></tr>
          <tr><td>Hillsdale </td><td></td></tr>
          <tr><td>Hunter  </td><td><a href='mailto:Colaianni.Brandi@westada.org'>Colaianni.Brandi@westada.org</a></td></tr>
          <tr><td>Joplin  </td><td><a href='mailto:Hemseri.tina@westada.org'>Hemseri.tina@westada.org</a></td></tr>
          <tr><td>Lake Hazel Elem </td><td></td></tr>
          <tr><td>Lake Hazel Middle   </td><td><a href='mailto:loveland.diana@westada.org'>loveland.diana@westada.org</a></td></tr>
          <tr><td>Lewis and Clark Middle  </td><td><a href='mailto:kopping.nicole@westada.org'>kopping.nicole@westada.org</a></td></tr>
          <tr><td>Lowell Scott Middle </td><td><a href='mailto:hanigan.anne@westada.org'>hanigan.anne@westada.org</a></td></tr>
          <tr><td>Mary McPherson  </td><td><a href='mailto:Hamilton.Bonnie@westada.org'>Hamilton.Bonnie@westada.org</a></td></tr>
          <tr><td>McMillan    </td><td></td></tr>
          <tr><td>Meridian Elem   </td><td><a href='mailto:Ropski.Susan@westada.org'>Ropski.Susan@westada.org</a></td></tr>
          <tr><td>Meridian High   </td><td><a href='mailto:lafond.deborah@westada.org'>lafond.deborah@westada.org</a></td></tr>
          <tr><td>Meridian Middle </td><td><a href='mailto:hart.marla@westada.org'>hart.marla@westada.org</a></td></tr>
          <tr><td>Mountain View   </td><td><a href='mailto:johnston.rebecca@westada.org'>johnston.rebecca@westada.org</a></td></tr>
          <tr><td>Owyhee  </td><td><a href='mailto:Desaulniers.Tami@westada.org'>Desaulniers.Tami@westada.org</a></td></tr>
          <tr><td>Paramount Elem  </td><td><a href='mailto:hemseri.tina@westada.org'>hemseri.tina@westada.org</a></td></tr>
          <tr><td>Pathways Middle </td><td><a href='mailto:hanigan.anne@westada.org'>hanigan.anne@westada.org</a></td></tr>
          <tr><td>Pepper Ridge Elem   </td><td><a href='mailto:obrien.catherine@westada.org'>obrien.catherine@westada.org</a></td></tr>
          <tr><td>Peregrine Elem  </td><td><a href='mailto:robertson.kristina@westada.org'>robertson.kristina@westada.org</a></td></tr>
          <tr><td>Pioneer School of Arts  </td><td><a href='mailto:rawlings.lisa@westada.org'>rawlings.lisa@westada.org</a></td></tr>
          <tr><td>Pleasant View Elem  </td><td><a href='mailto:allumbaugh.carrie@westada.org'>allumbaugh.carrie@westada.org</a></td></tr>
          <tr><td>Ponderosa Elem  </td><td></td></tr>
          <tr><td>Prospect Elem   </td><td><a href='mailto:meyer.cathy@westada.org'>meyer.cathy@westada.org</a></td></tr>
          <tr><td>Renaissance High   </td><td><a href='mailto:dryer.dean@westada.org'>dryer.dean@westada.org</a></td></tr>
          <tr><td>River Valley Elem  </td><td></td></tr>
          <tr><td>Rocky Mountain  </td><td><a href='mailto:Cushing.Patty@westada.org'>Cushing.Patty@westada.org</a></td></tr>
          <tr><td>Sawtooth Middle </td><td><a href='mailto:congdon.samantha@westada.org'>congdon.samantha@westada.org</a></td></tr>
          <tr><td>Seven Oaks  </td><td><a href='mailto:maas.jackie@westada.org'>maas.jackie@westada.org</a></td></tr>
          <tr><td>Seven Oaks Elem </td><td><a href='mailto:maas.jackie@westada.org'>maas.jackie@westada.org</a></td></tr>
          <tr><td>Siena Elem  </td><td><a href='mailto:huffaker.alicia@westada.org'>huffaker.alicia@westada.org</a></td></tr>
          <tr><td>Silver Sage Elem    </td><td><a href='mailto:huffaker.alicia@westada.org'>huffaker.alicia@westada.org</a></td></tr>
          <tr><td>Spalding Elem   </td><td><a href='mailto:driver.denise@westada.org'>driver.denise@westada.org</a></td></tr>
          <tr><td>Star Elem   </td><td><a href='mailto:plaisted.erica@westada.org'>plaisted.erica@westada.org</a></td></tr>
          <tr><td>Star Middle </td><td><a href='mailto:gaudette.shelva@westada.org'>gaudette.shelva@westada.org</a></td></tr>
          <tr><td>Summerwind STEM </td><td><a href='mailto:cathers.julie@westada.org'>cathers.julie@westada.org</a></td></tr>
          <tr><td>Ustick Elem </td><td><a href='mailto:rowland.jenny@westada.org'>rowland.jenny@westada.org</a></td></tr>
          <tr><td>Victory Middle  </td><td><a href='mailto:fuss.erin@westada.org'>fuss.erin@westada.org</a></td></tr>
          <tr><td>Willow Creek Elem   </td><td><a href='mailto:brown.tiffany@westada.org'>brown.tiffany@westada.org</a></td></tr>
        </tbody>
      </table>
    </div>
  </section>
  <section class='my-5 col-lg-8'>
    <h4>
      Step Three: Send your Child to School Mask-Free with a Courtesy Notice
    </h4>
    <p>
      This step is purely optional, but will assist your child in navigating the school environment itself and will support our teachers; they deserve the courtesy.
    </p>
    <p>
      In Elementary School it's a good idea to email the teacher in advance indicating that you have a Medical Exemption on file with the school nurse so they can prepare accordingly.
    </p>
    <p>
      For Middle and High School, download and print this letter which your student can show any teacher or administrator.  Again, we support our staff, and they deserve this courtesy.
    </p>
    <p>
      <a href='{% static "app/school_notice.pdf" %}'>Medical Exemption Notice</a>
    </p>
  </section>
  <section class='my-5 col-lg-8'>
    <h3>
      {# Remember, Monday November 1st is our target date. #}
    </h3>
  </section>
  <section class='my-5 col-lg-8'>
    <p class='lead'>
      If you have any questions or need assistance please contact us at <a href='mailto:support@westadaparents.com'>support@westadaparents.com</a> and we'll do everything we can to help.
    </p>
  </section>

  <section class='my-5'>
    <ul class='list-inline'>
      <li class='list-inline-item'>
        {% bootstrap_button "Share on Facebook" button_type='link' size='large' button_class='btn-primary' extra_classes='ml-3 mt-3' id='facebook-share-button'%}
      </li>
      <li class='list-inline-item'>
        {% bootstrap_button "Share via Text" button_type='link' size='large' button_class='btn-success' extra_classes='ml-3 mt-3' id='text-share-button'%}
      </li>
    </ul>
  </section>

{% endblock content %}

{% block scripts %}
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId            : '{% get_env_var "FACEBOOK_CLIENT_ID" %}',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v11.0'
      });
    };
  </script>
  <script>
    const FBbutton = document.querySelector('#facebook-share-button');
    FBbutton.addEventListener('click', async () => {
      FB.ui({
        method: "share",
        title: "Mask Exemption Instructions",
        href: "https://www.westadaparents.com/exemptions",
      }, function(response){});
    });
  </script>

  <script>
    const toShare = {
      // text: "{{comment.content|escapejs}}",
      text: "Mask Exemption Instructions",
      url: "https://www.westadaparents.com/exemptions",
    };
    const button = document.querySelector('#text-share-button');
    button.addEventListener('click', async () => {
      try {
        await navigator.share(toShare); // Will trigger the native "share" feature
        button.textContent = 'Thank You -- Share Again!';
      }
      catch(err) {
        Sentry.captureException(err);
        $("#text-share-button").replaceWith( "<p class='align-middle ml-3 mt-3'>Copy/Paste '<strong>https://www.westadaparents.com/exemptions</strong>' in your Text or Email</p>" );
      }
    });
  </script>
{% endblock scripts %}
