{% extends '_base.html' %}

{% block title %}Plans{% endblock title %}

{% block content %}
  <section class='my-5'>
    <h2>
      Plans
    </h2>
  </section>
  <section class='my-5'>
    <p class='lead'>
      Review the District and WAPA Plans.
    </p>
    <table class='table'>
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Description
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href='{% url "quarantine" %}'>WASD Quarantine Process</a>
          </td>
          <td>
            The quarantine workflow for the West Ada School District.
          </td>
        </tr>
        <tr>
          <td>
            <a href='{% url "truenorth" %}'>WAPA True North Plan</a>
          </td>
          <td>
            The alternative approach recommended by the West Ada Parents Association.
          </td>
        </tr>
        <tr>
          <td>
            <a href='{% url "compare" %}'>Comparison Chart</a>
          </td>
          <td>
            An easy-to-read comparison chart between the WASD and WAPA plans.
          </td>
        </tr>
        <tr>
          <td>
            <a href='{% url "appeal" %}'>Quarantine Appeal Process</a>
          </td>
          <td>
            The appeal process for inappropriate quarantining.
          </td>
        </tr>
      </tbody>
    </table>
  </section>
{% endblock content %}
